#blocks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 20px;
}

#blocks-container > * {
    border-radius: 5px;
}

.block {
    padding: 20px 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block-version-version {
    font-size: 2.25em;
    font-weight: 800;
}

.block-version-Python {
    background: #4584b6;
}

.block-version-Flask {
    background: #218ea2;
}

.block-version-Jinja {
    background: #b41717;
}

.block-version-os {
    background: #454659;
}

.block-version-os .block-version-version {
    font-size: 1.5em;
}

.site-actions-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.site-actions-container button {
    font-size: 1em;
    border-radius: 5px;
}

.button.loading {
    opacity: 0.3;
    animation: pulse 1.5s infinite ease-in-out;
    cursor: not-allowed;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.7;
    }
}

.button.done {
    background: var(--green);
    border-color: var(--green);
    color: var(--white);
}

.button.error {
    background: var(--red);
    border-color: var(--red);
    color: var(--red);
}

#tables-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, auto));
    gap: 4em;
}

#tables-container > * {
    height: fit-content;
}

.marked {
    font-weight: 700;
    padding: 5px 10px;
    display: inline-block;
    color: var(--back);
    border-radius: 5px;
}

.bg-green {
    background: var(--green);
}

.bg-blue {
    background: var(--lightblue);
}

.bg-gray {
    background: var(--gray);
    color: var(--white);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-red {
    background: var(--red);
    color: var(--white);
}
