table {
    border-collapse: collapse;
    font-size: .85em;
    width: 100%;
}

td,
th {
    border-bottom: 1px #bdbdbd solid;
    border-right: 1px #ccc dotted;
}

td:last-child, th:last-child {
    border-right: 0;
}

tr th {
    border-bottom-color: black;
}

tr:last-child td {
    border-bottom: none;
}

td,
th {
    padding: 10px 5px;
    vertical-align: middle;
    text-align: center;
}

#status {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status-item {
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
    animation: 500ms fadein forwards;
}

.status-item.status-success {
    background: #40c057;
    color: white;
}

.status-item.status-error {
    background: #f03e3e;
    color: white;
}


#add-list-item {
    display: flex;
    gap: 5px;
    box-shadow: 3px 3px 7px 2px #0000001a, -1px -1px 1px 1px #0000001a;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    width: min-content;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: fit-content;
    min-width: fit-content;
}

#add-list-item:hover {
    background: #f1f3f5;
    opacity: .8;
}

.list-item-iconpreview {
    margin-left: 10px;
}