.marked {
    font-weight: 700;
    padding: 5px;
    display: inline-block;
    width: 100%;

    color: var(--back);
}

.bg-green {
    background: var(--green);
}

.bg-blue {
    background: var(--lightblue);
}

.bg-gray {
    background: var(--gray);
    color: var(--white);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-red {
    background: var(--red);
    color: var(--white);
}
