.marked {
    font-weight: 700;
    padding: 5px;
    display: inline-block;
    width: 100%;

    color: var(--back);
}

.bg-green {
    background: var(--green);
}

.bg-blue {
    background: var(--lightblue);
}

.bg-gray {
    background: var(--gray);
    color: var(--white);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-red {
    background: var(--red);
    color: var(--white);
}

#filters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 50px;
}

#filters h2 {
    margin-bottom: 10px;
}

#filters > div > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

#filters label {
    border: 1px solid var(--gray);
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 600;
}

#filters label:has(input[type='checkbox']:checked) {
    background: var(--green);
    color: var(--back);
    border-color: var(--green);
}

#filters input[type='checkbox'] {
    width: 0;
    height: 0;
}

#filters input[type='search'] {
    border-radius: 100px;
    border: none;
    padding: 5px 10px;
    background: var(--white);
}

#lognum-filter h2 {
    margin-bottom: 10px;
}

#lognum-input {
    border-radius: 100px;
    border: none;
    padding: 5px 15px;
}
