body {
    font-family: monospace;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
    transition: 500ms all ease;
    background: black;
}

#control-panel {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #ffffff1c;
    padding: 10px;
    z-index: 10;
    border-radius: 8px;
    color: #969696;
    opacity: 0;
    animation: 0.5s fadeENzoom;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    transition: 400ms all ease;
    width: 0.9em;
    text-align: center;
    height: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 0;
}

.slider {
    -webkit-appearance: none;
    height: 25px;
    flex-grow: 1;
    background: #cbdcdc;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
    padding: 0.5em;
    transition: 500ms all ease;
}

.slider:hover {
    background: white;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0f95b0;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.75;
    transition: 500ms all ease;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    border-radius: 50%;
}

.number-input {
    width: 3em;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #0f95b0;
    border-radius: 20px;
    background: transparent;
    color: #ffffff;
    outline: none;
    transition: border-color 0.3s;
    font-family: monospace;
}

.number-input:focus {
    border-color: #04a777;
}

.settings {
    display: none;
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.35s;
    font-weight: 500;
}

#control-panel:hover>.settings {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#control-panel:hover {
    color: white;
    background: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
    width: clamp(325px, 35%, 1000px);
    height: clamp(400px, 40%, 1200px);
    border: 1px solid white;
}

#colorsettings {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#instellingentekst {
    display: none;
    font-size: 1.25em;
}

#control-panel h3 i, #control-panel h3 span {
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.35s;
}

#control-panel:hover h3 i {
    display: none;
}

#control-panel h3 i {
    font-size: 0.75em;
}

#control-panel:hover h3 span {
    display: block;
    font-size: 1.5em;
}

.slider::-webkit-slider-thumb:active {
    opacity: 1;
    background: #0fb081;
}

label {
    text-align: right;
    width: 10em;
}

.color {
    width: 6em;
    height: 3em;
    background: transparent;
    cursor: pointer;
    transition: border-color 0.3s, transform 0.3s;
    outline: none;
}

input[type="color" i]::-webkit-color-swatch {
    border-radius: 5em;
    border: 2px solid #0f95b0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 2.5%;
    width: 100%;
    font-weight: 300;
    font-size: clamp(25px, 7em, 100px);
    transition: font-weight 100ms ease;
}

.blok-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    user-select: none;
    app-region: no-drag;
}

.blok {
    display: block;
    width: 100%;
    height: 20%;
    transition: .5s;
    z-index: 1;
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    transition: 200ms all ease-in-out;
}

.internetekst {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
    pointer-events: none;
    user-select: none;
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
    transition: 250ms all ease;
}

.blok:hover~.internetekst {
    font-size: var(--hover-font-size, 130%);
}

.blok.jaar, .blok.uur {
    background-image: linear-gradient(to top, #e65039, #ff8f2e);
}

.blok.maand, .blok.minuut {
    background-image: linear-gradient(to top, #06c749, #1fcb8e);
}

.blok.dag, .blok.seconde {
    background-image: linear-gradient(to top, #0f95b0, #4f9ddd);
}

@keyframes fadeENzoom {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

