blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
commonmark==0.9.1
cssbeautifier==1.15.4
EditorConfig==0.17.1
feedgen==1.0.0
Flask==3.1.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jsbeautifier==1.15.4
json5==0.12.1
lxml==6.0.1
MarkupSafe==3.0.2
pathspec==0.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
regex==2025.7.34
requests==2.32.5
six==1.17.0
tqdm==4.67.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.5.0
Werkzeug==3.1.3
