/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-ThinItalic.ttf")
        format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-ExtraLight.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf")
        format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-LightItalic.ttf")
        format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-Italic.ttf")
        format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-MediumItalic.ttf")
        format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf")
        format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-BoldItalic.ttf")
        format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-ExtraBold.ttf")
        format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf")
        format("truetype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-BlackItalic.ttf")
        format("truetype");
    font-weight: 900;
    font-style: italic;
}

/* Source Code Pro */
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-ExtraLight.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-ExtraLightItalic.ttf")
        format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-Light.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-LightItalic.ttf")
        format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-Italic.ttf")
        format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-MediumItalic.ttf")
        format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-SemiBoldItalic.ttf")
        format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-BoldItalic.ttf")
        format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-ExtraBold.ttf")
        format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-ExtraBoldItalic.ttf")
        format("truetype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-Black.ttf")
        format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/static/fonts/Source_Code_Pro/SourceCodePro-BlackItalic.ttf")
        format("truetype");
    font-weight: 900;
    font-style: italic;
}
