:root {
    color-scheme: light dark;

    --color-primary: var(--oc-green-8);
    --color-accent: var(--oc-orange-8);
}

body {
    font-family: "Inter", "Ubuntu", "Roboto", "Helvetica", "Noto", sans-serif;
    padding: 35px 25px 15px 25px;
    display: grid;
    grid-template-areas: "sidebar main" "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    gap: 25px 40px;
    width: fit-content;
    line-height: 1.4;

    @media (max-width: 750px) {
        grid-template-areas: "sidebar" "main" "footer";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
    }

    > header {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        gap: 1em;

        @media (max-width: 750px) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        > span {
            font-weight: 900;
            font-size: 2em;

            > sup {
                color: var(--color-primary);
            }

            &:hover > sup {
                color: var(--color-accent);
                text-shadow:
                    3px 3px 25px var(--color-accent),
                    -3px -3px 25px var(--color-accent);
            }
        }

        > nav {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            @media (max-width: 750px) {
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
            }

            > a {
                width: fit-content;
                --item-color: var(--color-primary);

                &.active {
                    --item-color: var(--color-accent);
                }
            }
        }
    }

    > main {
        grid-area: main;
        max-width: 800px;
        padding-top: 10px;
        overflow: hidden;

        *:first-child {
            margin-block-start: 0;
        }
    }

    > footer {
        grid-area: footer;

        > p {
            margin-block: 0.5em;
        }
    }
}

a {
    --item-color: var(--color-accent);

    color: currentColor;
    text-decoration: underline solid var(--item-color);
    text-decoration-thickness: 2px;
    box-decoration-break: clone;

    &:hover {
        background: var(--item-color);
        box-shadow:
            -1px 0px 0px 3px var(--item-color),
            1px 0px 0px 3px var(--item-color);
        text-decoration: none;
    }
}

code,
pre,
samp {
    font-family: "Source Code Pro", "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;
}
