body {
    main {
        article {
            > hgroup {
                > h1 {
                    margin-block-end: 0.25em;
                }

                > p {
                    margin-block: 0 1.5em;

                    > time {
                        color: light-dark(var(--oc-gray-6), var(--oc-gray-5));
                    }
                }
            }
        }
    }
}
