body {
    > main {
        > hgroup {
            > p {
                margin-block-end: 0;
            }
        }

        > div {
            display: grid;
            grid-template-rows: masonry;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
