body {
    > main {
        > pre {
            line-height: 1;
            float: right;
            width: fit-content;
            margin-top: -30px;
            font-size: 0.75em;

            @media (max-width: 750px) {
                float: none;
                margin-top: revert;
                width: unset;
                overflow-x: scroll;
            }
        }
    }
}
