:root {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
    min-height: 100vh;
    scrollbar-gutter: stable;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

body {
    min-height: 100vh;
    margin: 0;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    shape-margin: 0.75em;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}

audio,
canvas,
img,
picture,
svg,
video {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    text-wrap: auto;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}

pre {
    max-width: 100%;
    overflow-x: auto;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ul,
ol {
    padding-inline-start: 1.5em;
}

ul li,
ol li {
    margin-block: 0.5em;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}
