{% extends "base.html" %}

{% block title %}
    bookmarks
{% endblock title %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="/assets/styles/bookmarks.css">
{% endblock additional_stylesheets %}

{% block content %}
    <hgroup>
        <h1>bookmarks</h1>
        <p>a collection of websites I find handy, interesting, or funny</p>
    </hgroup>

    <div>
        <section>
            <h2>tools</h2>
            <ul>
                <li>
                    <a href="https://picsum.photos">Lorem Picsum</a>
                </li>
                <li>
                    <a href="https://bgjar.com">BGJar</a>
                </li>
                <li>
                    <a href="https://gauger.io/fonticon">FontAwesome to .ico</a>
                </li>
                <li>
                    <a href="https://simpleicons.org">Simple icons</a>
                </li>
                <li>
                    <a href="https://yeun.github.io/open-color">Open color</a>
                </li>
                <li>
                    <a href="https://mhchem.github.io/MathJax-mhchem">MathJax-mhchem</a>
                </li>
                <li>
                    <a href="https://github.com/yusukebe/revealgo">revealgo</a>
                </li>
                <li>
                    <a href="https://columneditor.com">Column editor</a>
                </li>
                <li>
                    <a href="https://filiph.github.io/unsure/">Unsure calculator</a>
                </li>
                <li>
                    <a href="https://shademap.app">ShadeMap</a>
                </li>
                <li>
                    <a href="https://dimensions.com">Dimensions</a>
                </li>
                <li>
                    <a href="https://treinposities.nl">Treinposities.nl</a>
                </li>
                <li>
                    <a href="https://wegkenmerken.ndw.nu/verkeersborden">Wegkenmerken</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>web toys</h2>
            <ul>
                <li>
                    <a href="https://mapoftheuniverse.net">Map of the universe</a>
                </li>
                <li>
                    <a href="https://dinosaurpictures.org/ancient-earth">Ancient earth globe</a>
                </li>
                <li>
                    <a href="https://jenevoldsen.com/posts/excitable-cells">Excitable cells</a>
                </li>
                <li>
                    <a href="https://biocubes.net">Biocubes</a>
                </li>
                <li>
                    <a href="https://ncase.me/trust/">The evolution of trust</a>
                </li>
                <li>
                    <a href="https://www.opte.org">The Opte project</a>
                </li>
                <li>
                    <a href="https://metrodreamin.com">MetroDreamin'</a>
                </li>
                <li>
                    <a href="https://shifthappens.site/typewriter">Typewriter simulator (from Shift happens)</a>
                </li>
                <li>
                    <a href="https://binarypiano.com/">Binary piano</a>
                </li>
                <li>
                    <a href="https://benjaminaster.com/css-minecraft/">CSS Minecraft</a>
                </li>
                <li>
                    <a href="https://sansbullshitsans.com">Sans Bullshit Sans</a>
                </li>
                <li>
                    <a href="https://jsfuck.com/">JSFuck</a>
                </li>
                <li>
                    <a href="https://pointerpointer.com/">Pointer pointer</a>
                </li>
                <li>
                    <a href="https://landsat.gsfc.nasa.gov/apps/YourNameInLandsat-main">Your name in Landsat</a>
                </li>
                <li>
                    <a href="https://mewtru.com/flappyfavi">FlappyFavi</a>
                </li>
                <li>
                    <a href="https://type.method.ac">Kern type</a>
                </li>
                <li>
                    <a href="https://windows93.net">WINDOWS93</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>galleries & collections</h2>
            <ul>
                <li>
                    <a href="https://www.scanofthemonth.com">Scan of the month</a>
                </li>
                <li>
                    <a href="https://www.window-swap.com/Window">WindowSwap</a>
                </li>
                <li>
                    <a href="https://owlsintowels.org/">Owls in towels</a>
                </li>
                <li>
                    <a href="https://theforest.link/">The forest</a>
                </li>
                <li>
                    <a href="https://715-999-7483.com">715-999-7483</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>tech/programming</h2>
            <ul>
                <li>
                    <a href="https://eev.ee/blog/2012/04/09/php-a-fractal-of-bad-design/">PHP: a fractal of bad design</a>
                </li>
                <li>
                    <a href="https://gkeenan.co/avgb/rss-readers-make-me-want-to-jump-into-a-vat-of-acid/">RSS readers make me want to jump into a vat of acid!</a>
                </li>
                <li>
                    <a href="https://tonsky.me/blog/lockfiles/">We shouldn't have needed lockfiles</a>
                </li>
                <li>
                    <a href="https://tonsky.me/blog/syntax-highlighting/">I am sorry, but everyone is getting syntax highlighting wrong</a>
                </li>
                <li>
                    <a href="https://lucumr.pocoo.org/2025/9/29/90-percent/">90%</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=-5wpm-gesOY">The problem with time & timezones</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=AaZ_RSt0KP8">The universe is hostile to computers</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=6avJHaC3C2U">The art of code - Dylan Beattie</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=-J3wNP6u5YU">Naming things in code</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=Bf7vDBBOBUA">Don't write comments</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>internet culture</h2>
            <ul>
                <li>
                    <a href="https://www.theverge.com/c/23998379/google-search-seo-algorithm-webpage-optimization">The people who ruined the internet</a>
                </li>
                <li>
                    <a href="https://shkspr.mobi/blog/2025/10/i-have-no-facts-and-i-must-scream/">You did no fact checking, and I must scream</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>stories</h2>
            <ul>
                <li>
                    <a href="https://highline.huffingtonpost.com/articles/en/lotto-winners">Jerry and Marge Go Large</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>math & science</h2>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=dtjb2OhEQcU">Double pendulums are chaoticn't</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=Ed1gsyxxwM0">Mandelbrot's evil twin</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=RcVA8Nj6HEo">What is PLUS times PLUS?</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=6JwEYamjXpA">What happens when maths goes wrong?</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=OkmNXy7er84">The hardest problem on the hardest test</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=gxAaO2rsdIs">Simulating an epidemic</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=3d6DsjIBzJ4">Taylor series</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=pTn6Ewhb27k">Why no one has measured the speed of light</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>documentary-esque</h2>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=jVpsLMCIB0Y">The unbreakable Kryptos code</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=CbUjuwhQPKs">The search for D. B. Cooper</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=I2O7blSSzpI">Cicada 3301: An internet mystery</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=kd2KEHvK-q8">The vanishing of flight 370</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>society/history</h2>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=9oagcP3UHmY">Is de NPO (te) Links?</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=1Jwo5qc78QU">YouTube's copyright system isn't broken. The world's is.</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=8YUWDrLazCg">A million dollars vs a billion dollars, visualized: A road trip</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=leX541Dr2rU">There is no algorithm for truth</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=rStL7niR7gs">Why do all governments work the same way?</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=jN7mSXMruEo">These stupid trucks are literally killing us</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=xuCn8ux2gbs">history of the entire world, i guess</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=K64wRD8eaus">Why the Titanic didn't have enough lifeboats</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>short films</h2>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=hif5eI5pBxo">nothing, except everything.</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=80EEpYieMgE">I still exist.</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=ZFiXOJviD6Y">you're allowed to try</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=F8Zs8xMTDzo">In pursuit of an extraordinary life</a>
                </li>
            </ul>
        </section>
    </div>
{% endblock content %}
