{% extends "base.html" %}

{% block title %}
    bookmarks
{% endblock title %}

{% block content %}
    <hgroup>
        <h1>bookmarks</h1>
        <p>a collection of websites I find handy, interesting, or just funny</p>
    </hgroup>

    <ul>
        <li>
            <a href="https://picsum.photos">Lorem Picsum</a>
        </li>
        <li>
            <a href="https://dimensions.com">Dimensions</a>
        </li>
        <li>
            <a href="https://bgjar.com">BGJar</a>
        </li>
        <li>
            <a href="https://simpleicons.org">Simpleicons</a>
        </li>
        <li>
            <a href="https://gauger.io/fonticon">FontAwesome to .ico</a>
        </li>
        <li>
            <a href="https://columneditor.com">Column text editor</a>
        </li>
        <li>
            <a href="https://metrodreamin.com">MetroDreamin'</a>
        </li>
        <li>
            <a href="https://wegkenmerken.ndw.nu/verkeersborden">Traffic data things</a>
        </li>
        <li>
            <a href="https://treinposities.nl">Train positions</a>
        </li>
        <li>
            <a href="https://biocubes.net">Biocubes</a>
        </li>
        <li>
            <a href="https://mapoftheuniverse.net">Map of the universe</a>
        </li>
        <li>
            <a href="https://mewtru.com/flappyfavi">FlappyFavi</a>
        </li>
        <li>
            <a href="https://mhchem.github.io/MathJax-mhchem">MathJax-mhchem</a>
        </li>
        <li>
            <a href="https://sansbullshitsans.com">Sans Bullshit Sans</a>
        </li>
        <li>
            <a href="https://shademap.app">ShadeMap</a>
        </li>
        <li>
            <a href="https://jenevoldsen.com/posts/excitable-cells">Excitable cells</a>
        </li>
        <li>
            <a href="https://github.com/yusukebe/revealgo">revealgo</a>
        </li>
        <li>
            <a href="https://www.opte.org">Opte Project</a>
        </li>
        <li>
            <a href="https://715-999-7483.com">715-999-7483</a>
        </li>
        <li>
            <a href="https://type.method.ac">Kern Type</a>
        </li>
        <li>
            <a href="https://shifthappens.site/typewriter">Typewriter simulator (from Shift Happens)</a>
        </li>
        <li>
            <a href="https://dinosaurpictures.org/ancient-earth">Ancient Earth Globe</a>
        </li>
        <li>
            <a href="https://www.window-swap.com/Window">WindowSwap</a>
        </li>
        <li>
            <a href="https://www.scanofthemonth.com">Scan of the Month</a>
        </li>
        <li>
            <a href="https://yeun.github.io/open-color">Open Color</a>
        </li>
        <li>
            <a href="https://landsat.gsfc.nasa.gov/apps/YourNameInLandsat-main">Your Name In Landsat</a>
        </li>
        <li>
            <a href="https://filiph.github.io/unsure/">Unsure Calculator</a>
        </li>
        <li>
            <a href="https://benjaminaster.com/css-minecraft/">CSS Minecraft</a>
        </li>
        <li>
            <a href="https://owlsintowels.org/">Owls in towels</a>
        </li>
        <li>
            <a href="https://ncase.me/trust/">The Evolution of Trust</a>
        </li>
        <li>
            <a href="https://binarypiano.com/">Binary Piano</a>
        </li>
        <li>
            <a href="https://pointerpointer.com/">Pointer Pointer</a>
        </li>
        <li>
            <a href="https://jsfuck.com/">JSFuck</a>
        </li>
        <li>
            <a href="https://www.windows93.net">WINDOWS93</a>
        </li>
        <li>
            <a href="https://www.grumpycats.com/">Grumpy Cat</a>
        </li>
        <li>
            <a href="https://theforest.link/">The Forest</a>
        </li>
        <li>
            <a href="https://highline.huffingtonpost.com/articles/en/lotto-winners">Jerry And Marge Go Large</a>
        </li>
    </ul>
{% endblock content %}
