{% extends "base.html" %}

{% block title %}
    Bookmarks
{% endblock title %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="/assets/styles/bookmarks.css">
{% endblock additional_stylesheets %}

{% block content %}
    <hgroup>
        <h1>Bookmarks</h1>
        <p>A collection of websites I find handy, interesting, or funny</p>
    </hgroup>

    <div>
        <section>
            <h2>Tools</h2>
            <ul>
                <li>
                    <a href="https://picsum.photos">Lorem Picsum</a>
                </li>
                <li>
                    <a href="https://bgjar.com">BGJar</a>
                </li>
                <li>
                    <a href="https://gauger.io/fonticon">FontIcon</a>
                </li>
                <li>
                    <a href="https://simpleicons.org">Simple Icons</a>
                </li>
                <li>
                    <a href="https://yeun.github.io/open-color">Open Color</a>
                </li>
                <li>
                    <a href="https://github.com/yusukebe/revealgo">revealgo</a>
                </li>
                <li>
                    <a href="https://columneditor.com">Column Editor</a>
                </li>
                <li>
                    <a href="https://filiph.github.io/unsure/">Unsure Calculator</a>
                </li>
                <li>
                    <a href="https://shademap.app">ShadeMap</a>
                </li>
                <li>
                    <a href="https://dimensions.com">Dimensions</a>
                </li>
                <li>
                    <a href="https://treinposities.nl">Treinposities.nl</a>
                </li>
                <li>
                    <a href="https://wegkenmerken.ndw.nu/verkeersborden">Wegkenmerken</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>Web toys</h2>
            <ul>
                <li>
                    <a href="https://mapoftheuniverse.net">The Map of the Universe</a>
                </li>
                <li>
                    <a href="https://dinosaurpictures.org/ancient-earth">Ancient Earth globe</a>
                </li>
                <li>
                    <a href="https://jenevoldsen.com/posts/excitable-cells">Excitable cells</a>
                </li>
                <li>
                    <a href="https://biocubes.net">biocubes</a>
                </li>
                <li>
                    <a href="https://ncase.me/trust/">The Evolution of Trust</a>
                </li>
                <li>
                    <a href="https://metrodreamin.com">MetroDreamin'</a>
                </li>
                <li>
                    <a href="https://shifthappens.site/typewriter">Shift Happens: Typewriter simulator</a>
                </li>
                <li>
                    <a href="https://binarypiano.com/">Binary Music Player</a>
                </li>
                <li>
                    <a href="https://benjaminaster.com/css-minecraft/">CSS Minecraft</a>
                </li>
                <li>
                    <a href="https://sansbullshitsans.com">Sans Bullshit Sans</a>
                </li>
                <li>
                    <a href="https://jsfuck.com/">JSFuck</a>
                </li>
                <li>
                    <a href="https://pointerpointer.com/">Pointer Pointer</a>
                </li>
                <li>
                    <a href="https://landsat.gsfc.nasa.gov/apps/YourNameInLandsat-main">Your Name in Landsat</a>
                </li>
                <li>
                    <a href="https://mewtru.com/flappyfavi">FlappyFavi</a>
                </li>
                <li>
                    <a href="https://type.method.ac">Kern Type</a>
                </li>
                <li>
                    <a href="https://windows93.net">WINDOWS93</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>Galleries & collections</h2>
            <ul>
                <li>
                    <a href="https://www.scanofthemonth.com">Scan of the Month</a>
                </li>
                <li>
                    <a href="https://www.window-swap.com/Window">WindowSwap</a>
                </li>
                <li>
                    <a href="https://owlsintowels.org/">Owls in Towels</a>
                </li>
                <li>
                    <a href="https://theforest.link/">The Forest</a>
                </li>
                <li>
                    <a href="https://715-999-7483.com">715-999-7483</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>Tech/programming</h2>
            <ul>
                <li>
                    <a href="https://eev.ee/blog/2012/04/09/php-a-fractal-of-bad-design/">PHP: a fractal of bad design</a>
                </li>
                <li>
                    <a href="https://gkeenan.co/avgb/rss-readers-make-me-want-to-jump-into-a-vat-of-acid/">RSS readers make me want to jump into a vat of acid!</a>
                </li>
                <li>
                    <a href="https://tonsky.me/blog/lockfiles/">We shouldn't have needed lockfiles</a>
                </li>
                <li>
                    <a href="https://tonsky.me/blog/syntax-highlighting/">I am sorry, but everyone is getting syntax highlighting wrong</a>
                </li>
                <li>
                    <a href="https://lucumr.pocoo.org/2025/9/29/90-percent/">90%</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=-5wpm-gesOY">The Problem with Time & Timezones</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=AaZ_RSt0KP8">The Universe is Hostile to Computers</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=6avJHaC3C2U">The Art of Code - Dylan Beattie</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=-J3wNP6u5YU">Naming Things in Code</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=Bf7vDBBOBUA">Don't Write Comments</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>The internet</h2>
            <ul>
                <li>
                    <a href="https://www.theverge.com/c/23998379/google-search-seo-algorithm-webpage-optimization">How Google perfected the web</a>
                </li>
                <li>
                    <a href="https://shkspr.mobi/blog/2025/10/i-have-no-facts-and-i-must-scream/">You did no fact checking, and I must scream</a>
                </li>
                <li>
                    <a href="https://www.opte.org">The Opte Project</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>Stories</h2>
            <ul>
                <li>
                    <a href="https://highline.huffingtonpost.com/articles/en/lotto-winners">The Lottery Hackers</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>Math & science</h2>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=dtjb2OhEQcU">Double Pendulums are Chaoticn't</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=Ed1gsyxxwM0">Mandelbrot's Evil Twin</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=RcVA8Nj6HEo">What is PLUS times PLUS?</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=6JwEYamjXpA">What Happens When Maths Goes Wrong?</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=OkmNXy7er84">The hardest problem on the hardest test</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=gxAaO2rsdIs">Simulating an epidemic</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=3d6DsjIBzJ4">Taylor series</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=pTn6Ewhb27k">Why No One Has Measured The Speed Of Light</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>Documentary-esque</h2>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=jVpsLMCIB0Y">The Unbreakable Kryptos Code</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=CbUjuwhQPKs">The Search For D. B. Cooper</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=I2O7blSSzpI">Cicada 3301: An Internet Mystery</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=kd2KEHvK-q8">The Vanishing of Flight 370</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>Society/history</h2>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=9oagcP3UHmY">Is de NPO (te) Links?</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=1Jwo5qc78QU">YouTube's copyright system isn't broken. The world's is.</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=8YUWDrLazCg">A Million Dollars vs A Billion Dollars, Visualized: A Road Trip</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=leX541Dr2rU">There is No Algorithm for Truth</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=rStL7niR7gs">Why Do All Governments Work the Same Way?</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=jN7mSXMruEo">These Stupid Trucks are Literally Killing Us</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=xuCn8ux2gbs">history of the entire world, i guess</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=K64wRD8eaus">Why the Titanic didn't have enough lifeboats</a>
                </li>
            </ul>
        </section>

        <section>
            <h2>Short films</h2>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=hif5eI5pBxo">nothing, except everything.</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=80EEpYieMgE">I Still Exist.</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=ZFiXOJviD6Y">you're allowed to try</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=F8Zs8xMTDzo">In Pursuit of an Extraordinary Life</a>
                </li>
            </ul>
        </section>
    </div>
{% endblock content %}
