{% extends "base.html" %}

{% block title %}
    Colophon
{% endblock title %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="/assets/styles/colophon.css">
{% endblock additional_stylesheets %}

{% block content %}
    <h1>Colophon</h1>
    <pre>
                                            6666    
                                          666666666 
                                         66      666
                                        66          
    66666666      666  666              66 6666666  
  666     6666                          666      666
 666        666   666  666   66666666   66       666
666               666  666  666     66  666      666
666     6666666   666  666  666          6666666666 
666     6666666   666  666   66666666       6666    
 66         666   666  666         666              
  666      666    666  666  66     666              
   666666666      666  666   66666666               
                       666                          
                     6666                           
                     66                             
</pre>
    <p>
        This is a static site, built with <a href="https://github.com/Gijs6/gijs6.nl/blob/main/engine.py">a custom Python script</a>.
    </p>
    <p>
        All the source code of this site is available on <a href="https://github.com/Gijs6/gijs6.nl">GitHub</a>. Copying is an act of love. Love is not subject to law. Please copy. Everything here is <a href="https://unlicense.org/">unlicensed</a>.
    </p>
    <p>This site does not track you or store your personal information in any way. This site does not use any third party resources. However, I cannot control what your browser, ISP, or other software on your device might do.</p>
{% endblock content %}
