{% extends "base.html" %}

{% block title %}
    colophon
{% endblock title %}

{% block content %}
    <h1>colophon</h1>

    <pre>
                                    6666   
                                  666  666 
                                 66        
    6666     66  66             666        
  666   66   66  66             666666666  
666                    66666    666     66 
66           66  66  66     66  66       66
66    66666  66  66  66          66     66 
66       66  66  66   6666666      66666   
666      66  66  66         66             
 6666   666  66  66  66     66             
    66666    66  66    66666               
                 66                        
             66666                         
</pre>

    <p>
        this is a static site, built with <a href="https://github.com/Gijs6/gijs6.nl/blob/main/build.py">a custom python script</a>.
    </p>

    <p>
        all the source code of this site is available on <a href="https://github.com/Gijs6/gijs6.nl">GitHub</a>. copying is an act of love. love is not subject to law. please copy.
    </p>

    <p>
        this site does not track you or store your personal information in any way. this site does not use any third party resources. however, i cannot control what your browser, ISP, or other software on your device might do.
    </p>
{% endblock content %}
