{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <h1>Hello!</h1>

    <p>
        Welcome! I'm Gijs, also known as <em>gijs6</em>, <em>gijsz</em> and <em>ggijs</em> online. I'm a 16-year-old developer from Schiedam in the Netherlands, and this is my little space on the web :)
    </p>

    <h2>About me</h2>
    <p>
        I'm currently in 5VWO at Lyceum Schravenlant. I do <em lang="nl">natuur & techniek</em> (with biology and <a href="https://nl.wikipedia.org/wiki/Natuur,_leven_en_technologie" hreflang="nl">NLT</a>). I'm also a junior developer at <a href="https://qdentity.com">Qdentity</a>.
    </p>
    <p>
        At work, I code in Elixir (and sometimes JavaScript), but in my free time, I mainly use Python. Almost <a href="https://github.com/Gijs6">all the code I write</a> is open-source. I've collected some of my projects on the <a href="/projects">projects page</a>.
    </p>
    <p>
        Besides coding, I also like to do <a href="/blog/">writing</a>, graphic design, and <a href="/assets/images/cool/14.jpg">some photography</a>.
        <script>
            // The site works completely fine without JavaScript enabled, the only 'missing' feature without JavaScript is this randomising of the image.

            const tag = document.currentScript.previousElementSibling;
            const imageNumber = (Math.floor(Math.random() * 15) + 1).toString().padStart(2, '0');
            tag.href = `/assets/images/cool/${imageNumber}.jpg`
        </script>
    </p>
    <p>
        I really enjoy listening to <a href="https://open.spotify.com/playlist/37i9dQZF1EpfNaZch4604X">good music</a>, and I occasionally like to play <a href="https://steamcommunity.com/id/Gijs6/">a nice game</a>.
    </p>
    <p>
        I'm also part of <a href="https://dupunkto.org/">{du}punkto</a>, a small collective me and 3 friends run together.
    </p>

    <h2>Contact</h2>
    <p>I'm trying not to be a big fan of social media, but you can still reach out via everyone's favourite method: email! Feel free to say hi, I always love a good conversation. My address is below:</p>
    <pre><code>printf "%s%d@%s.%s\n" gijs 6 dupunkto org</code></pre>
    <p>
        <small>This way of showing my email is a pretty effective spam filter (and it's more fun :D)</small>
    </p>
{% endblock content %}
