{% extends "base.html" %}

{% block title %}
    Projects
{% endblock title %}

{% block content %}
    <hgroup>
        <h1>Projects</h1>
        <p>Here are some of the projects I've worked on or contributed to.</p>
    </hgroup>

    <ul>
        <li>
            <a href="https://github.com/Gijs6/meliag"><strong>Meliag</strong></a>: Train info webapp that shows arrivals and departures for Dutch train stations.
        </li>
        <li>
            <a href="https://github.com/Gijs6/outflow"><strong>Outflow</strong></a>: Simple clean weather webapp.
        </li>
        <li>
            <a href="https://github.com/Gijs6/gijs6.nl"><strong>gijs6.nl</strong></a>: This very site. I hope you like it. Please like it.
        </li>
        <li>
            <a href="https://github.com/Gijs6/school.gijs6.nl"><strong>school.gijs6.nl</strong></a>: The place where I store all my handcrafted school summaries. Made with a custom static site generator.
        </li>
        <li>
            <a href="https://github.com/Gijs6/barium"><strong>Barium</strong></a>: A simple static site generator built with Python and Jinja.
        </li>
        <li>
            <a href="https://github.com/dupunkto/somtomorrow"><strong>Somtomorrow</strong></a> (WIP): An alternative (and better) web client for Somtoday with a nicer interface for grades and schedules.
        </li>
        <li>
            <a href="https://github.com/dupunkto/havas"><strong>Havas</strong></a>: A simple CMS for (news) articles.
        </li>
        <li>
            <a href="https://github.com/Gijs6/paperclip"><strong>Paperclip</strong></a> (WIP): Simple markup language, because Markdown is incomplete.
        </li>
    </ul>
    <p>
        For all my projects, you can view my <a href="https://github.com/Gijs6">GitHub profile</a> or the <a href="https://git.dupunkto.org">{du}punkto repos</a>.
    </p>
{% endblock content %}
