{% extends "base.html" %}

{% block title %}
    projects
{% endblock title %}

{% block content %}
    <hgroup>
        <h1>projects</h1>
        <p>here are some of the projects I've worked on or contributed to.</p>
    </hgroup>

    <ul>
        <li>
            <a href="https://github.com/Gijs6/meliag"><strong>meliag</strong></a>: train info webapp that shows arrivals and departures for Dutch train stations.
        </li>
        <li>
            <a href="https://github.com/Gijs6/outflow"><strong>outflow</strong></a>: simple clean weather webappapp.
        </li>
        <li>
            <a href="https://github.com/Gijs6/gijs6.nl"><strong>gijs6.nl</strong></a>: this very site. i hope you like it. please like it.
        </li>
        <li>
            <a href="https://github.com/Gijs6/school.gijs6.nl"><strong>school.gijs6.nl</strong></a>: the place where I dump all my handcrafted school summaries. made with a custom static site generator.
        </li>
        <li>
            <a href="https://github.com/Gijs6/barium"><strong>barium</strong></a>: a simple static site generator built with Python and Jinja.
        </li>
        <li>
            <a href="https://github.com/dupunkto/somtomorrow"><strong>somtomorrow</strong></a> (wip): an alternative (and better) web client for somtoday with a nicer interface for their grades and schedules.
        </li>
        <li>
            <a href="https://github.com/dupunkto/havas"><strong>havas</strong></a>: a simple cms for (news) articles.
        </li>
        <li>
            <a href="https://github.com/Gijs6/paperclip"><strong>paperclip</strong></a> (wip): simple markup language, because Markdown is incomplete.
        </li>
    </ul>

    <p>
        for all my projects, you can view my <a href="https://github.com/Gijs6">GitHub profile</a> or the <a href="https://git.dupunkto.org">{du}punkto repos</a>.
    </p>
{% endblock content %}
