{% extends "base.html" %}

{% block title %}
    projects
{% endblock title %}

{% block content %}
    <hgroup>
        <h1>projects</h1>
        <p>here are some of the projects I've worked on or contributed to.</p>
    </hgroup>

    <ul>
        <li>
            <a href="https://git.dupunkto.org/~dupunkto/somtomorrow"><strong>somtomorrow</strong></a>: a better web client for somtoday
        </li>
        <li>
            <a href="https://git.dupunkto.org/~dupunkto/havas"><strong>havas</strong></a>: a prototype web app for displaying, managing, and editing news articles.
        </li>
        <li>
            <a href="https://github.com/Gijs6/Barium"><strong>barium</strong></a>: a simple static site generator
        </li>
        <li>
            <a href="https://github.com/Gijs6/gijs6.nl"><strong>this very site</strong></a>
        </li>
        <li>
            <a href="https://ckv.gijs6.nl"><strong>my CKV-site</strong></a>: my site for CKV (<em lang="nl">culturele en kunstzinnige vorming</em>). not a huge project, but I love the design!
        </li>
        <li>
            <a href="https://school.gijs6.nl"><strong><em lang="nl">leermiddelenoverzicht</em></strong></a>: all my <em lang="nl">samenvattingen</em> (summaries) and other study resources.
        </li>
        <li>
            <a href="https://github.com/Gijs6/Meliag"><strong>meliag</strong></a>: a nice UI built around the NS API to display all kinds of data about trains in a nice and clear way
        </li>
        <li>
            <a href="https://github.com/Gijs6/GSS"><strong>GSS</strong></a>: a tool to prettify CSS by formatting and ordering it (WIP)
        </li>
        <li>
            <a href="https://git.dupunkto.org/~dupunkto/kodo"><strong>kodo</strong></a>: a game inside a QR-code.
        </li>
    </ul>

    <p>
        for other projects, you can view the Git repos over at my <a href="https://github.com/Gijs6">GitHub profile</a> or at <a href="https://git.dupunkto.org">{du}punkto</a>.
    </p>
{% endblock content %}
