{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div id="pagetitle">
        <h1>Blog</h1>
        <h2>Just a collection of my opinions</h2> 
        <p><a href="{{ url_for('blog_module.rss') }}"><i class="fa-solid fa-square-rss"></i><span>RSS feed</span></a></p>
        <p><a href="{{ url_for('blog_module.atom') }}"><i class="fa-solid fa-square-rss"></i><span>Atom feed</span></a></p>
        <p><a href="{{ url_for('blog_module.archived_index') }}"><i class="fa-solid fa-archive"></i><span>View archived posts</span></a></p>
    </div>

    <ul>
        {% for blogpost in post_list %}
            <li><time datetime="{{ blogpost.date_iso }}">{{ blogpost.date }}</time>: <a href="{{ blogpost.url }}">{{ blogpost.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}


{% block extra_footer %}
    <div id="extra-footer">
        <p>Reply by <a href="mailto:gijs6@dupunkto.org">email</a></p>
    </div>
{% endblock %}
