{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('blog_module.static', filename='blogpost.css') }}">
{% endblock %}

{% block content %}
    {% if is_archived %}
        <a id="back-to-blog" href="{{ url_for('blog_module.archived_index') }}"><i class="fa-solid fa-arrow-left"></i> Back to archived posts</a>
    {% else %}
        <a id="back-to-blog" href="/blog/"><i class="fa-solid fa-arrow-left"></i> Back to all posts</a>
    {% endif %}
    
    <div id="post-info">
        <p>Made on <a href="https://github.com/Gijs6/gijs6.nl/commit/{{ first_commit.hash }}"><time datetime="{{ first_commit.datetime_iso }}">{{ first_commit.datetime }}</time></a> (UTC)</p>
        {% if multiple_edit %}
            <p>Last edited on <a href="https://github.com/Gijs6/gijs6.nl/commit/{{ latest_commit.hash }}"><time datetime="{{ latest_commit.datetime_iso }}">{{ latest_commit.datetime }}</time></a> (UTC)</p>
        {% endif %}
    </div>
    
    {{ blog_content | safe }}
    
    
{% endblock %}

{% block extra_footer %}
    <div id="extra-footer">
        <p><a href="{{ url_for('blog_module.rss') }}"><i class="fa-solid fa-square-rss"></i><span>RSS feed</span></a></p>
        <p><a href="{{ url_for('blog_module.atom') }}"><i class="fa-solid fa-square-rss"></i><span>Atom feed</span></a></p>
        <p>Reply by <a href="mailto:gijs6@dupunkto.org">email</a></p>
    </div>
{% endblock %}
