{% extends "admin_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('admin_bp.static', filename='styles/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('admin_bp.static', filename='styles/table.css') }}">
    <script src="{{ url_for('admin_bp.static', filename='scripts/dashboard.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    <div id="blocks-container">
        {% for title, version in version_info.items() %}
            <div class="block block-version block-version-{{ title }}">
                <span class="block-version-title">{{ title }}</span>
                <span class="block-version-version">{{ version }}</span>
            </div>
        {% endfor %}
        <div class="block block-version block-version-os">
            <span class="block-version-title">OS</span>
            <span class="block-version-version">{{ os_info }}</span>
        </div>
        <div id="site-actions-container">
            <button class="button site-action" onclick="reload(this)">
                <i class="fa-solid fa-rotate"></i> Reload
            </button>
        
            <button class="button site-action" onclick="redeploy(this)">
                <i class="fa-solid fa-download"></i> Redeploy
            </button>
        
            <button class="button site-action" onclick="disable(this)">
                <i class="fa-solid fa-ban"></i> Disable
            </button>
        </div>
    </div>


    <div id="tables-container">
        <table id="urls">
            <thead>
                <tr>
                    <th>Endpoint</th>
                    <th>Status</th>
                </tr>
            </thead>
            
            <tbody>
            </tbody>

        </table>

        <table id="commits">
            <thead>
                <tr>
                    <th>Datetime</th>
                    <th>Message</th>
                    <th>Hash</th>
                </tr>
            </thead>
            
            <tbody>
                {% for commit in commits %}
                    <tr>
                        <td>{{ commit.datetime }}</td>
                        <td class="text-left">{{ commit.message }}</td>
                        <td>{{ commit.hash }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
