#commitfreq {
    margin: auto;
}

#commitfreq td {
    padding: 0.7vw !important;
    position: relative;
}

#commitfreq th, .extra-info.weekday {
    color: #888;
    font-size: 0.8vw;
    font-weight: 300;
}

#commitfreq td.extra-info.weekday {
    padding: 0 !important;
}


#commitfreq td::after {
    content: attr(data-message);
    font-size: 1vw;
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    background: var(--back);
    color: var(--front);
    border: 0.1vw solid var(--front);
    border-radius: 0.75vw;
    white-space: pre-line;
}


#commitfreq td:hover::after {
    visibility: visible;
}

#undergraph {
    font-size: 7px;
    color: #888;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

#extra-info-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#extra-info-toggle {
    width: 10px;
}
