#libcollection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.libitem {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}
