{% extends "skeleton.html" %}
{% block title %}
    {% block page_title %}Home{% endblock %}
    - Admin
{% endblock %}
{% block extra_headers %}
    <link rel="stylesheet"
          href="{{ url_for('admin_module.static', filename='styles/base.css') }}">
    <link rel="icon"
          href="{{ url_for('admin_module.static', filename='favs/admin.ico') }}">
    <script>
    function statusMessage(message, type, sleep) {
        const container = document.getElementById("status")

        const messageElement = document.createElement("div")
        messageElement.className = "status-item status-" + type;
        messageElement.innerHTML = message;

        container.appendChild(messageElement);

        setTimeout(() => {
            messageElement.style.animation = "500ms fadeout forwards"
            setTimeout(() => {
                container.removeChild(messageElement);
            }, 500);
        }, sleep);
    }
    </script>
    {% block page_extra_headers %}{% endblock %}
{% endblock %}
{% block body %}
    <header>
        <a href="/admin/" id="header-logo">Admin</a>
        <nav>
            <a href="/admin/"
               class="menu-item{% if request.path == '/admin/' %} active{% endif %}">Dashboard <i class="fa-solid fa-table-list"></i></a>
            <a href="/admin/system"
               class="menu-item{% if request.path == '/admin/system' %} active{% endif %}">System <i class="fa-solid fa-microchip"></i></a>
            <a href="/admin/processes"
               class="menu-item{% if request.path == '/admin/processes' %} active{% endif %}">Processes <i class="fa-solid fa-list"></i></a>
            <a href="/admin/env"
               class="menu-item{% if request.path == '/admin/env' %} active{% endif %}">Environment <i class="fa-solid fa-code"></i></a>
            <a href="/admin/log"
               class="menu-item{% if request.path == '/admin/log' %} active{% endif %}">Log view <i class="fa-solid fa-eye"></i></a>
        </nav>
        <nav class="second-nav">
            <a href="/priv/grade" class="menu-item">Grade check <i class="fa-solid fa-arrow-up-9-1"></i></a>
            <a href="/proli/" class="menu-item">Proli <i class="fa-solid fa-check"></i></a>
        </nav>
    </header>
    <main>
        <div id="status"></div>
        {% block content %}{% endblock %}
    </main>
{% endblock %}
