{% extends "admin_base.html" %}

{% block title %}LibEditor{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('admin_module.static', filename='styles/libeditor.css') }}">
    <link rel="stylesheet" href="{{ url_for('admin_module.static', filename='styles/table.css') }}">
    <script src="{{ url_for('admin_module.static', filename='scripts/libeditor.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>LibEditor</h1>

    <table id="item-table"></table>

    <div id="add-list-item"><i class="fa-solid fa-plus"></i> Add list item</div>
{% endblock %}
