@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --black: #0f212e;
    --whiteblue: #d1e3f0;
    --white: #eaf2ef;
    --gray: #6b6d76;
    --darkblue: #28587b;
    --lightblue: #0f95b0;
    --yellow: #ffa630;
    --red: #e65039;
    --green: #06c749;


    color-scheme: light dark;
    --front: light-dark(black, white);
    --back: light-dark(white, black);

    --blue: light-dark(#1d5196, #14a0c4)
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
    }
}
  
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

[data-theme="light"] {
    color-scheme: light;
}

[data-theme="dark"] {
    color-scheme: dark;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    background-color: var(--back);
    height: fit-content;
    color: var(--front);
    font-family: "Source Code Pro", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    padding: 25px 40px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    font-size: .9em;
}

#logo {
    margin-right: 1em;
    font-weight: 900;
    font-size: 1.2em;
}

#logo sup {
    font-size: unset;
}

.menu-item {
    text-decoration: none;
    padding: 5px 0;
    font-weight: 400;
    transition: 100ms padding ease;
}

.menu-item:hover, .menu-item.active {
    background: var(--front);
    color: var(--back);
    filter: blur(.4px);
    text-shadow: .5px .5px .5px var(--lightblue);
    font-weight: 600;
    padding: 5px 10px;
}

main {
    padding: 40px 0;
    margin: 25px 0;
    border-style: dotted;
    border-width: 2px 0px;
    border-color: #808080;
}

footer {
    font-size: .8em;
    color: var(--gray);
}

#extra-footer {
    font-size: 1.1em;;
    font-weight: 600;
    color: var(--front);
    margin-block-end: 1em;
}

#madeby {
    font-size: 1.3em;;
    font-weight: 800;
    color: var(--front);
    margin-block-end: 1em;
}

#theme-toggle  {
    padding: .7em;
    border: 1px solid var(--front);
    background: var(--back);
    color: var(--front);
    font-size: .7em;
    margin-top: 20px;
}

#theme-toggle:hover {
    background: var(--front);
    color: var(--back);
}



a:has(i) {
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}

a:has(i) :not(i) {
    text-decoration: underline;
}

i {
    text-decoration: none;
}

a {
    text-decoration-color: #888;
    color: inherit;
    font-weight: 800;
}

a:hover {
    text-decoration-color: var(--lightblue);
}

h1 {
    font-size: 1.5em;
    font-weight: 800;
}

h2 {
    font-size: 1em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    font-weight: 400;
}

ul, ol {
    padding-inline-start: 1em;
}

#pagetitle {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.annotation {
    font-size: 10px;
    color: #888;
}
