#libcollection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    font-size: .9em;
}

.libitem {
    flex-direction: row-reverse;
    border: 1px var(--front) solid;
    padding: 10px;
}

.libitem:hover {
    background: var(--front);
    color: var(--back);
}

.libitemtxt {
    text-decoration: none;
}