:root {
    color-scheme: light dark;
}

body {
    justify-items: center;
    padding: clamp(25px, 2.5%, 50px);
    margin: 0;
    font-family: monospace;
}

.container {
    max-width: clamp(750px, 50%, 1500px);
}

h1, p {
    margin: 0;
}

p {
    font-size: 1.25em;
}