#projlists {
    padding: revert;
}

.projname {
    font-weight: 700;
}

.projimg {
    width: 40vw;
    margin-top: 10px
}

#projlists li {
    margin-bottom: 30px;
}

.projcontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    text-decoration: none;
}

.projname {
    text-decoration: underline;
}

.projcontainer p {
    font-size: .8em;
    font-weight: 500;
}
