@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --zwart: #0f212e;
    --witblauw: #d1e3f0;
    --wit: #eaf2ef;
    --grijs: #6b6d76;
    --dblauw: #28587b;
    --lblauw: #0f95b0;
    --geel: #ffa630;
    --rood: #e65039;
    --groen: #06c749
}

body {
    background-color: black;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    color: var(--witblauw);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 5vh;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}





h1 {
    margin: 0;
}














.inleiding {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 2% 5% 0 5%;
    gap: 3vh;
    word-wrap: break-word;
    hyphens: auto;

    /* Hier absoluut geen animatie toevoegen want dan breekt alles maar ik weet niet waarom maar doe het gewoon niet! */
}

.inleidingtekst {
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    gap: 5px;
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

.headerheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}


.helpknop i {
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
    font-size: 30px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.helpknop i:hover {
    color: var(--lblauw);
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;

    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}



.header p {
    margin: 0;
    text-align: end;
}

#headernaam {
    font-size: 1.1em;
    font-weight: 600;
}

.headertekstklein {
    font-size: 0.8em;
    font-weight: 400;
}



#introtekstsche {
    font-size: 1.25em;
    font-weight: 700;
    margin: 0;
}





.inleidingtekst h1 {
    font-size: 2.5em;
    font-weight: 900;
    margin-top: 20px;
}








.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5%;
    flex-direction: column;
    animation: 0.5s fade;
    opacity: 0;
    animation-fill-mode: forwards;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    gap: 35px;
    flex-grow: 1;
    box-sizing: border-box;
}


.popup.sluiten {
    animation: 0.5s fadeOut forwards;
}



.sluitKnop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    font-size: 30px;
    font-weight: 700;
}



.sluitKnop i {
    font-size: 30px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sluitKnop i:hover {
    color: var(--lblauw);
}



.popup-inhoud.kleur {
    background-color: black;
    padding: 20px;
    border: 3px solid var(--lblauw);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}

.popup-inhoud.kleur p {
    margin: 0;
    font-size: 1.75em;
    font-weight: 800;
}



.popup-inhoud.kleur.inleiding {
    border: 3px solid var(--groen) !important;
}



.popup-inhoud.kleur.inleiding h1 {
    font-size: 1.75em;
    font-weight: 900;
}

.popup-inhoud.kleur.inleiding p {
    font-size: 1em;
    font-weight: 600;
}


.veranderendeTekst.mobiel {
  display: unset;
}

.veranderendeTekst.desktop {
  display: none;
}

@media only screen and (min-width: 1300px) {
  .veranderendeTekst.mobiel {
    display: none;
  }
  .veranderendeTekst.desktop {
    display: unset;
  }
}




.popup-inhoud {
    flex-grow: 1;
    max-height: fit-content;
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}


.popup-inhoud.sluiten {
    animation: 0.5s fadeOutZoom forwards;
}

.voorbeeldblokkencontainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    gap: 50px;
    justify-content: space-between;
}

.voorbeeldblokkencontainer-2 {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    flex-grow: 1;
    hyphens: auto;
}

.voorbeeldblok {
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    padding: 15px;
    display: flex;
    flex-grow: 0.5;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    hyphens: auto;
}

.voorbeeldblok.blauw {
    border-color: var(--lblauw);
}

.voorbeeldblok.blauw:hover {
    background-color: var(--lblauw);
    color: var(--zwart);
}

.voorbeeldblok.geel {
    border-color: var(--geel);
}

.voorbeeldblok.geel:hover {
    background-color: var(--geel);
    color: var(--zwart);
}

.voorbeeldblok.rood {
    border-color: var(--rood);
}

.voorbeeldblok.rood:hover {
    background-color: var(--rood);
    color: var(--zwart);
}

.voorbeeldblok.groen {
    border-color: var(--groen);
}

.voorbeeldblok.groen:hover {
    background-color: var(--groen);
    color: var(--zwart);
}




.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 4vh;
    word-wrap: break-word;
}

.blokheader {
    font-weight: 900;
    text-align: center;
    font-size: 2.5em;
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.container-toetsen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    padding: 0 5% 5% 5%;
}

.itemrij {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.blok.titel {
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
    width: 45%;
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    position: relative;
}

.blok.titel.JA {
    border-color: var(--lblauw);
}

.blok.titel.JA_DEELS {
    border-color: var(--geel);
}

.blok.titel.NEE {
    border-color: var(--groen);
}

.iconcontainer {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.textcontainer h1, .textcontainer h2 {
    margin: 0;
}

.textcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-grow: 1;
    word-wrap: break-word;
}

.vak-en-toets.NEE, .vak-en-toets.JA_DEELS {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    justify-content: flex-start;
}

.vak-en-toets h1 {
    font-size: 2em;
    font-weight: 700;
    min-width: 100px;
}

.vak-en-toets h2 {
    font-size: 1.25em;
    font-weight: 500;
}

.overige-info {
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.overige-info h2 {
    font-size: 1.25em;
    font-weight: 600;
    text-align: right;
}

.linkjes {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
}

.link {
    display: flex;
    text-align: center;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    padding: 15px;
    text-decoration: unset;
    color: var(--witblauw);
    font-size: 1.3em;
    flex-grow: 1;
    font-weight: 700;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

.link.inactief {
    border-color: var(--geel);
}

.link.actief {
    border-color: var(--groen);
}

.link.actief:hover {
    background-color: var(--groen);
    color: var(--zwart);
    letter-spacing: 1px;
    font-size: 1.4em;
    font-weight: 900;
    padding-right: 22px;
    padding-left: 22px;
}


.link.actief.samenvatting {
    font-weight: 800;
    letter-spacing: 0.5px;
}

.link.actief.samenvatting:hover  {
    letter-spacing: 3px;
}

.link.actief.NEE:hover {
    padding: 22px;
}

.link.inactief:hover {
    background-color: var(--geel);
    color: var(--zwart);
}

.link.nooitactief {
    border-color: var(--rood);
}

.link.nooitactief:hover {
    background-color: var(--rood);
    color: var(--zwart);
}

.footercontainer {
    padding: 0 5% 5% 5%;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    padding: 20px;
    text-decoration: unset;
    color: var(--witblauw);
    font-size: 1em;
    flex-grow: 1;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    animation: 0.5s fadeENzoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    background-color: black;
}

.footer p {
    margin: 0px;
    font-size: 1em;
}

.link-in-tekst {
    text-decoration: underline;
    color: var(--witblauw);
    font-weight: 800;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.link-in-tekst:hover {
    color: var(--lblauw);
}






@keyframes fadeENzoom {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes fadeOutZoom {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.75);
    }
}



@media (max-width: 1300px) {
    .container-toetsen {
        gap: 35px;
    }

    .itemrij {
        flex-direction: column;
    }

    .blok.titel {
        width: unset;
    }

    .linkjes {
        flex-wrap: wrap;
    }

    .voorbeeldblokkencontainer {
        flex-direction: column;
        gap: 30px;
    }

    .voorbeeldblok {
        flex-grow: 1;
    }
}


@media (max-width: 768px) {
    .container {
        hyphens: auto;
    }

    .container-toetsen {
        gap: 3.5vh;
    }

    .inleiding {
        padding: 5% 5% 0% 5%;
        gap: 1vh;
    }

    .inleidingtekst {
        gap: 5px;
    }

    .inleidingtekst h1 {
        font-size: 2.5em !important;
    }


    #headernaam {
        font-size: 0.9em;
    }

    .headertekstklein {
        font-size: 0.65em;
    }


    #introtekstsche {
        font-size: 1em;
    }



    .inleidingtekst h1 {
        font-size: 2.5em;
        font-weight: 900;
        margin-top: 20px;
    }



    .popup-inhoud p {
        font-size: 1em;
    }

    .voorbeeldblok {
        padding: 12px;
        font-size: 0.9em;
        flex-grow: 1;
    }


    .blokheader {
        font-size: 2em;
    }

    .itemrij {
        gap: 1vh;
    }

    .blok.titel {
        padding: 10px;
    }

    .vak-en-toets {
        flex-wrap: wrap;
        gap: 0px !important;
    }

    .vak-en-toets h1 {
        font-size: 1.5em;
        min-width: 75px;
    }

    .vak-en-toets h2 {
        font-size: 1.1em;
    }

    .overige-info h2 {
        font-size: 1em;
        text-align: unset;
    }

    .link {
        padding: 12px;
        font-size: 1.15em;
    }

    .link.actief:hover {
        font-size: 1.2em !important;
        padding: 15px !important;
    }

    .textcontainer {
        word-wrap: break-word;
        hyphens: auto;
        flex-wrap: wrap;
        gap: 5px;
    }
}


@media (max-width: 768px) {
    .voorbeeldblokkencontainer-2 {
        flex-direction: column !important;
    }
}



.vak-en-toets {
    min-width: fit-content;
}


::-webkit-scrollbar {
    width: 12px;
    background-color: var(--zwart);
}

::-webkit-scrollbar-thumb {
    background-color: var(--lblauw);
    border-radius: 10px;
    border: 3px solid var(--zwart);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dblauw);
}

::-webkit-scrollbar-track {
    background-color: var(--zwart);
    border-radius: 10px;
}





















.onzichtbarehoverzooi {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    animation: 0.5s fadeOMLAAG;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    max-width: 100%;
    z-index: 10;
}


.infoblok {
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    background: black;
    border-color: var(--witblauw);
    padding: 10px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 10;
    position: relative;
    margin-top: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2em;
    font-weight: 600;
}


.infoblokrijding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.iconcontainerinfoblok {
    width: 1.4em;
    font-size: 1.25em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}

.vakinfoblokrij {
    gap: 10px;
    font-size: 1.5em;
    font-weight: 800;
}

.icon-in-de-vakinfoblokrij {
    justify-content: flex-end;
}



.onzichtbarehoverzooi.sluiten {
    animation: 0.5s fadeOMHOOG forwards;
}





@keyframes fadeOMLAAG {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}




@keyframes fadeOMHOOG {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-25px);
    }
}


