body {
    background-color: black;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: "Roboto Slab", serif;
    padding: 40px;
}

h1, h2, p {
    margin: 0;
}

a {
    text-decoration-color: #888;
    color: white;
    font-weight: bolder;
}

#header, #footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#header {
    align-items: center;
}

#footer {
    align-items: flex-start;
    gap: 5px;
}

#header h1 {
    font-size: clamp(20px, 3vw, 30px);
    margin-bottom: 10px;
}

#toetsencontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-bottom: 40px;
}

.itemrij {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.itemrij:first-child {
    border-top: 1px solid gray;
}

.links h1 {
    font-weight: bolder;
    font-size: 1.5em;
}

.links h2 {
    font-weight: 300;
    font-size: 1em;
}

.rechts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: min(1000px, 100%);
    margin: auto;
}

a:hover {
    text-decoration-color: white;
}