{% extends "base.html" %}
{% block title %}500 Internal Server Error{% endblock %}
{% block extra_headers %}
    <link rel="icon"
          type="image/x-icon"
          href="{{ url_for('static', filename='favs/error.ico') }}">
{% endblock %}
{% block content %}
    <h1>500</h1>
    <h1>Oops! Something went wrong</h1>
    <p>We're sorry, but it seems there's an issue on our end.</p>
    <p>Please give it another try in a little while.</p>
    <p>If the problem keeps appearing, please reach out to the website owner for help.</p>
    <small>{{ e }}</small>
{% endblock %}
