<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Gijs6</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='pubsite.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='fav3.ico') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        <div class="container">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div id="messages">
                        {% for category, message in messages %}
                            <div class="flashitem {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="settings">
                <div class="menu">
                    <a href="/?lang={{ lang }}" class="menu-item {% if active_page == 'home' %}active{% endif %}">
                        <i class="fa-solid fa-house-user"></i>
                        <div class="txt">{{ "Home" if lang == "nl" else "Home" if lang == "en" else "Accueil" }}</div>
                    </a>
                    <a href="/code?lang={{ lang }}" class="menu-item {% if active_page == 'code' %}active{% endif %}">
                        <i class="fa-solid fa-code"></i>
                        <div class="txt">{{ "Codesnippets" if lang == "nl" else "Code snippets" if lang == "en" else "Extraits de code" }}</div>
                    </a>
                    <a href="/lib?lang={{ lang }}" class="menu-item {% if active_page == 'bieb' %}active{% endif %}">
                        <i class="fa-solid fa-rectangle-list"></i>
                        <div class="txt">{{ "Websitebieb" if lang == "nl" else "Website library" if lang == "en" else "Bibliothèque du site Web" }}</div>
                    </a>
                    <a href="/colophon?lang={{ lang }}" class="menu-item {% if active_page == 'colofon' %}active{% endif %}">
                        <i class="fa-solid fa-circle-info"></i>
                        <div class="txt">{{ "Colofon" if lang == "nl" else "Colophon"}}</div>
                    </a>
                    <a href="/school" class="menu-item">
                        <i class="fa-solid fa-file-lines"></i>
                        <div class="txt">School{{ " (samenvattingen)" if lang == "nl" }}</div>
                    </a>
                    <a href="/contact?lang={{ lang }}" class="menu-item {% if active_page == 'contact' %}active{% endif %}">
                        <i class="fa-solid fa-envelope-open"></i>
                        <div class="txt">Contact</div>
                    </a>
                </div>
                <div class="kleine-knopjes">
                    <button id="theme-toggle" aria-label="Toggle dark mode">
                        <i class="fa-solid fa-circle-half-stroke"></i>
                    </button>
                    <div class="language-toggle">
                        {% if active_page == 'thuis' %}
                            <a href="?lang=en">EN</a>
                            <a href="?lang=nl">NL</a>
                        {% else %}
                            <a href="?lang=en" class="{{ 'active' if lang == 'en' else '' }}">EN</a>
                            <a href="?lang=nl" class="{{ 'active' if lang == 'nl' else '' }}">NL</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% block content %}{% endblock %}
            <div class="onderkantje">
                <div class="onderkantlinks">
                    <p>{% if lang == "en" %}
                            Made by Gijs
                        {% elif lang == "nl" %}
                            Gemaakt door Gijs
                        {% endif %}
                    </p>
                    <p>{% if lang == "en" %}
                            All original website content and code are <strong>fully released into the public domain</strong> in accordance with <a href="https://unlicense.org/" target="_blank" class="link-in-tekst">Unlicense</a> and <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" class="link-in-tekst">CC0</a> (external resources can be subject to their own licences)
                        {% elif lang == "nl" %}
                            Alle originele website-inhoud en code, is <strong>volledig vrijgegeven in het publieke domein zonder enige vorm van auteursrecht</strong>, in overeenstemming met de <a href="https://unlicense.org/" target="_blank" class="link-in-tekst">Unlicense</a> en <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" class="link-in-tekst">CC0</a> (externe bronnen kunnen onder andere licentievoorwaarden  en auteursrechten vallen)
                        {% endif %}
                    </p>
                    <p>{% if lang == "en" %}
                            Made with <a href="https://github.com/pallets/flask" target="_blank" class="link-in-tekst">Flask</a> and <a href="https://github.com/pallets/jinja" target="_blank" class="link-in-tekst">Jinja</a>, hosted at <a href="https://eu.pythonanywhere.com/" target="_blank" class="link-in-tekst">PythonAnwyhere</a>
                        {% elif lang == "nl" %}
                            Gemaakt met <a href="https://github.com/pallets/flask" target="_blank" class="link-in-tekst">Flask</a> en <a href="https://github.com/pallets/jinja" target="_blank" class="link-in-tekst">Jinja</a>, gehost door <a href="https://eu.pythonanywhere.com/" target="_blank" class="link-in-tekst">PythonAnwyhere</a>
                        {% endif %}
                    </p>
                    <p>{% if lang == "en" %}
                            View the <a href="https://github.com/Gijs6/site" target="_blank" class="link-in-tekst">source code on GitHub</a>
                        {% elif lang == "nl" %}
                            Bekijk de <a href="https://github.com/Gijs6/site" target="_blank" class="link-in-tekst">broncode op GitHub</a>
                        {% endif %}
                    </p>
                    <p>{% if lang == "en" %}
                            View the <a href="/colophon?lang={{ lang }}" class="link-in-tekst">colophon</a> or <a href="/contact?lang={{ lang }}" class="link-in-tekst">contact me</a>
                        {% elif lang == "nl" %}
                            Bekijk het <a href="/colophon?lang={{ lang }}" class="link-in-tekst">colofon</a> of <a href="/contact?lang={{ lang }}" class="link-in-tekst">neem contact op</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <script>
            const toggleButton = document.getElementById('theme-toggle');
            const currentTheme = localStorage.getItem('theme') || 'dark';
            document.documentElement.setAttribute('data-theme', currentTheme);

            toggleButton.addEventListener('click', () => {
                const theme = document.documentElement.getAttribute('data-theme');
                const newTheme = theme === 'dark' ? 'light' : 'dark';
                document.documentElement.setAttribute('data-theme', newTheme);
                localStorage.setItem('theme', newTheme);
            });
        </script>
    </body>
</html>