<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="author" content="gijs6" />
        <meta name="description" content="A big mess of fun pages, interesting projects, my own thoughs and opinions and more." />

        <title>{% block title %}{% endblock %} - Gijs6</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favs/new_fav.ico') }}" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />

        <link rel="alternate" type="application/rss+xml" title="Blog - RSS" href="/blog/rss.xml" />
        <link rel="alternate" type="application/atom+xml" title="Blog - Atom" href="/blog/atom.xml" />

        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>

        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        <header>
            <span class="header-logo">Gijs<sup>6</sup></span>

            {% macro menu_item(endpoint, name) %}
                <a href="{{ url_for(endpoint) }}" class="menu-item{% if request.endpoint == endpoint %} menu-item-active{% endif %}">{{ name }}</a>
            {% endmacro %}
            
            {{ menu_item('index', '/index') }}
            {{ menu_item('blog_bp.blog_index', '/blog') }}
            {{ menu_item('projects', '/projects') }}
            {{ menu_item('lib', '/library') }}
            {{ menu_item('colophon', '/colophon') }}
        </header>

        <main>{% block content %}{% endblock %}</main>

        <footer>
            <p>Made by Gijs</p>

            {% block extra_footer %}{% endblock %}

            <p>Version from commit <a href="https://github.com/Gijs6/gijs6.nl/commit/{{ latest_commit_hash_long }}">{{ latest_commit_hash }}</a> (committed on {{ latest_commit_date }} UTC)</p>

            <p>Content and code are <strong>public domain</strong></p>

            <p>Made with <a href="https://github.com/pallets/flask" target="_blank">Flask</a> and <a href="https://github.com/pallets/jinja" target="_blank">Jinja</a>, hosted at <a href="https://eu.pythonanywhere.com/" target="_blank">PythonAnwyhere</a></p>
            <p>View the <a href="https://github.com/Gijs6/gijs6.nl" target="_blank">source code on GitHub</a></p>
        </footer>
        <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
    </body>
</html>
