{% extends "base.html" %}
{% set active_page = "colofon" %}
{% block title %}{{ "Colofon" if lang == "nl" else "Colophon" if lang == "en" }}{% endblock %}

{% block extra_headers %}
<meta name="robots" content="noindex">
{% endblock %}
{% block content %}
<div class="title">
    <h1>{% if lang == "en" %}
        About this site
        {% elif lang == "nl" %}
        Over deze site
        {% endif %}
    </h1>
</div>
<div class="blockfull">
    <div class="textbox">
        <h2>{% if lang == "en" %}
            Copyright and licences
            {% elif lang == "nl" %}
            Copyright, auteursrechten en licenties
            {% endif %}
        </h2>
        <p>{% if lang == "en" %}
            All <strong>original</strong> content on every page of this website, including but not limited to text, images, videos, and any other media, as well as the <strong>original</strong> code used to create and design the website, is <strong>fully released into the public domain</strong>. This release is in accordance with the <a href="https://unlicense.org/" target="_blank" class="link-in-tekst">Unlicense</a> and <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" class="link-in-tekst">CC0</a>. This means that you are free to use, modify, distribute, and build upon any part of the website's original content and code without any restrictions.
            <br>
            However, please be aware that external resources used on the website, such as fonts, frameworks, icons, and other third-party assets, are <strong>not released into the public domain</strong>. These resources may be subject to their own licences, and you must comply with the terms and conditions of these licences when using them. It is your responsibility to ensure that you adhere to the licensing requirements of any external resources.
            {% elif lang == "nl" %}
            Alle <strong>originele</strong> inhoud op alle pagina's van deze website, inclusief maar niet beperkt tot tekst, afbeeldingen, video's en andere media, evenals de <strong>originele</strong> code die is gebruikt om de website te maken en te ontwerpen, is <strong>volledig vrijgegeven in het publieke domein</strong>. Deze vrijgave is in overeenstemming met de <a href="https://unlicense.org/" target="_blank" class="link-in-tekst">Unlicense</a> en <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" class="link-in-tekst">CC0</a>. Dit betekent dat je vrij bent om alle originele inhoud en code van de website te gebruiken, aan te passen, te verspreiden en verder te ontwikkelen zonder enige beperkingen.
            <br>
            Houd er echter rekening mee dat externe bronnen die op de website worden gebruikt, zoals lettertypes, frameworks, pictogrammen en andere assets van derden, <strong>onder hun eigen licenties kunnen vallen</strong>. Deze externe bronnen zijn niet vrijgegeven in het publieke domein en moeten worden gebruikt in overeenstemming met de voorwaarden van hun respectieve licenties. Het is jouw verantwoordelijkheid om ervoor te zorgen dat jij voldoet aan de licentievoorwaarden van deze externe bronnen.
            {% endif %}
        </p>
    </div>
    <div class="textbox">
        <h2>{% if lang == "en" %}
            Languages and hosting
            {% elif lang == "nl" %}
            Talen en hosting
            {% endif %}
        </h2>
        <p>{% if lang == "en" %}
            Made with <a href="https://github.com/pallets/flask" target="_blank" class="link-in-tekst">Flask</a> and <a href="https://github.com/pallets/jinja" target="_blank" class="link-in-tekst">Jinja</a>, hosted at <a href="https://eu.pythonanywhere.com/" target="_blank" class="link-in-tekst">PythonAnywhere</a> servers in Frankfurt, Germany.
            {% elif lang == "nl" %}
            Gemaakt met <a href="https://github.com/pallets/flask" target="_blank" class="link-in-tekst">Flask</a> en <a href="https://github.com/pallets/jinja" target="_blank" class="link-in-tekst">Jinja</a>, gehost door <a href="https://eu.pythonanywhere.com/" target="_blank" class="link-in-tekst">PythonAnywhere</a> op servers in Frankfurt (Duitsland).
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}