{% extends "base.html" %}

{% set active_page = "contact" %}

{% block title %}Contact{% endblock %}

{% block extra_headers %}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="title">
        <h1>{% if lang == "en" %}
            Contact me
            {% elif lang == "nl" %}
            Neem contact op
            {% endif %} <i class="fa-solid fa-envelope-open"></i>
        </h1>
    </div>
    <div class="blockfull">
        <h2>
            {% if lang == "en" %}
            You can leave your name and mail empty if you want to
            {% elif lang == "nl" %}
            Je kunt je naam en e-mailadres leeg laten als je dat wilt
            {% endif %}
        </h2>
        <form action="/contact?lang={{ lang }}" method="post" id="contactform">
            <div class="formcontainer">
                <label for="name">{{ "Naam" if lang == "nl" else "Name" }}</label>
                <input type="text" id="name" name="name" value="{{ prefill['name'] }}">
            </div>

            <div class="formcontainer">
                <label for="email">{{ "Mailadres" if lang == "nl" else "Email" }}</label>
                <input type="text" id="email" name="email" value="{{ prefill['mail'] }}">
            </div>

            <div class="formcontainer">
                <label for="message">{{ "Bericht" if lang == "nl" else "Message" }}</label>
                <textarea id="message" name="message">{{ prefill['message'] }}</textarea>
            </div>


            <button type="submit">{{ "Versturen" if lang == "nl" else "Send" }}</button>
        </form>
        <h2>
            {% if lang == "en" %}
            Or just send me an <a href="mailto:gijs6@dupunkto.org" target="__blank">email</a>.
            {% elif lang == "nl" %}
            Of stuur gewoon een <a href="mailto:gijs6@dupunkto.org" target="__blank">mailtje</a>.
            {% endif %}
        </h2>
    </div>
{% endblock %}
