{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
    <div id="pagetitle">
        <h1>Hello! I'm Gijs! <i class="fa-solid fa-face-smile"></i></h1>
        <span>Welcome! This is my little space on the web. I sometimes write some code.</span>
        <span>Almost all the code I write is open-source, and I have collected some of my projects on the <a href="/projects">projects</a> page</span>
    </div>

    <div id="commitfreqcontainer">
        <div id="commitfreq">
            {% for headeritem in headers %}
                <div class="extra-info week num" style="grid-area: 1 / {{ loop.index + 1 }} / 2 / {{ loop.index + 2 }}">{{ headeritem }}</div>
            {% endfor %}

            <div class="extra-info week day" style="grid-area: 2 / 1 / 3 / 2">Mon</div>
            <div class="extra-info week day" style="grid-area: 3 / 1 / 4 / 2">Tue</div>
            <div class="extra-info week day" style="grid-area: 4 / 1 / 5 / 2">Wed</div>
            <div class="extra-info week day" style="grid-area: 5 / 1 / 6 / 2">Thu</div>
            <div class="extra-info week day" style="grid-area: 6 / 1 / 7 / 2">Fri</div>
            <div class="extra-info week day" style="grid-area: 7 / 1 / 8 / 2">Sat</div>
            <div class="extra-info week day" style="grid-area: 8 / 1 / 9 / 2">Sun</div>

            {% for cell in graphdata %}
                <div data-message="{{ cell.message }}" style="grid-area: {{ cell.grid_area }}; background: light-dark({{ cell.lightcolor }}, {{ cell.darkcolor }})" class="cell"></div>
            {% endfor %}
        </div>
    </div>

    <div id="under-the-graph">
        <p class="annotation">
            The heatmap above shows the <strong>number of lines changed</strong> (added + deleted) in all Git commits I've made over the past 52 weeks, across <a href="https://github.com/Gijs6?tab=repositories" target="_blank">my own repositories</a>, the repositories of <a href="https://git.dupunkto.org" target="_blank">{du}punkto</a>, and repo's from my work projects.
        </p>

        <p class="annotation">Last updated {{ last_updated }} UTC.</p>
    </div>
{% endblock %}
