{% extends "basis.html" %}
{% set active_page = "home" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="title">
    <h1>{% if lang == "en" %}
        Hello!
        {% elif lang == "nl" %}
        Hallo!
        {% endif %} <i class="fa-solid fa-face-smile-beam"></i>
    </h1>
    <h2>{% if lang == "en" %}
        Welcome! This is my little space on the web. Have fun looking around!
        {% elif lang == "nl" %}
        Welkom! Dit is mijn kleine plekje op het web. Veel plezier met rondkijken!
        {% endif %}
    </h2>
</div>

<div id="link-section-uno" class="links-section">
    <div class="section-title">
        <i class="fa-solid fa-circle-user"></i>
        <h2>{% if lang == "en" %}
            Sites you can view some of my code
            {% elif lang == "nl" %}
            Websites waar je mijn code kunt bekijken
            {% endif %}
        </h2>
    </div>
    <div class="linklist">
        {% for item in socialsites %}
        <a href="{{ item.link }}" class="block link-section-uno-blok">
            <div class="txt">{{ item.title[lang] }}</div>
            <i class="{{ item.fa_icon_class if item.fa_icon_class else "fa-solid fa-arrow-up-right-from-square" }}"></i>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
