<!DOCTYPE html>
<html lang=nl>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klok</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favs/clock.ico') }}">
    <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='klok.css') }}">
    <meta name="robots" content="noindex">
</head>

<body>
<div id="control-panel">
    <h3><i class="fa-solid fa-sliders"></i><span id="settingstext">Settings</span></h3>
    <div class="settings padding">
        <label for="padding-slider">Padding container (%)</label>
        <input type="range" id="padding-slider" min="0" max="20" step="0.5" class="slider">
        <input type="number" id="padding-number" min="0" max="20" step="0.5" class="number-input">
    </div>
    <div class="settings minh">
        <label for="hoogte-slider">Min height blocks (%)</label>
        <input type="range" id="hoogte-slider" min="0" max="50" step="1" class="slider">
        <input type="number" id="hoogte-number" min="0" max="50" step="1" class="number-input">
    </div>
    <div class="settings fontWeight">
        <label for="fontWeight-slider">Font weight</label>
        <input type="range" id="fontWeight-slider" min="1" max="9" step="1" class="slider">
        <input type="number" id="fontWeight-number" min="0" max="9" step="1" class="number-input">
    </div>
    <div class="settings fontSize">
        <label for="fontSize-slider">Font size (em)</label>
        <input type="range" id="fontSize-slider" min="1" max="15" step="0.5" class="slider">
        <input type="number" id="fontSize-number" min="0" max="15" step="0.5" class="number-input">
    </div>
    <div class="settings fontSizeHover">
        <label for="hoverFontSize-slider">Hover font size (%)</label>
        <input type="range" id="hoverFontSize-slider" min="50" max="250" step="1" class="slider">
        <input type="number" id="hoverFontSize-number" min="0" max="250" step="1" class="number-input">
    </div>
    <div class="settings backgroundStart">
        <label for="backgroundStart-color">Background start (0 minutes)</label>
        <input type="color" id="backgroundStart-color" class="color">
    </div>
    <div class="settings backgroundEnd">
        <label for="backgroundEnd-color">Background end (59 minutes)</label>
        <input type="color" id="backgroundEnd-color" class="color">
    </div>
</div>
<div class="container">
    <div class="block-container">
        <div class="block day" id="dayblock"></div>
        <div class="internaltext day" id="dayblocktext"></div>
    </div>
    <div class="block-container">
        <div class="block month" id="monthblock"></div>
        <div class="internaltext month" id="monthblocktext"></div>
    </div>
    <div class="block-container">
        <div class="block year" id="yearblock"></div>
        <div class="internaltext year" id="yearblocktext"></div>
    </div>
    <div class="block-container">
        <div class="block empty"></div>
    </div>
    <div class="block-container">
        <div class="block hour" id="hourblock"></div>
        <div class="internaltext hour" id="hourblocktext"></div>
    </div>
    <div class="block-container">
        <div class="block minute" id="minuteblock"></div>
        <div class="internaltext minute" id="minuteblocktext"></div>
    </div>
    <div class="block-container">
        <div class="block second" id="secondblock"></div>
        <div class="internaltext second" id="secondblocktext"></div>
    </div>
</div>
<script>
    const today = new Date();
    const currentMonth = today.getMonth();
    const currentYear = today.getFullYear();
    const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();


    const timeblocks = [{
            element: "hourblock",
            text: "hourblocktext",
            max: 23
        },
        {
            element: "minuteblock",
            text: "minuteblocktext",
            max: 59
        },
        {
            element: "secondblock",
            text: "secondblocktext",
            max: 59
        },
        {
            element: "dayblock",
            text: "dayblocktext",
            max: daysInMonth
        },
        {
            element: "monthblock",
            text: "monthblocktext",
            max: 12
        },
        {
            element: "yearblock",
            text: "yearblocktext",
            max: 99
        }
    ];

    function padZero(number) {
        return number.toString().padStart(2, "0");
    }

    function playTone(freq) {
        const audioCtx = new (window.AudioContext || window.webkitAudioContext)();
        const oscillator = audioCtx.createOscillator();
        oscillator.type = 'sine';
        oscillator.frequency.setValueAtTime(freq, audioCtx.currentTime);
        oscillator.connect(audioCtx.destination);
        oscillator.start();
        setTimeout(() => oscillator.stop(), 50);
    }


    function updateblockken() {
        const now = new Date();

        const minH = parseInt(localStorage.getItem("minh"));



        const timeywaarden = [
            now.getHours(),
            now.getMinutes(),
            now.getSeconds(),
            now.getDate(),
            now.getMonth() + 1,
            now.getFullYear() % 100
        ];

        timeblocks.forEach((block, index) => {

            const waarde = timeywaarden[index];
            const hoogte = ((waarde / block.max) * (100-minH)) + minH;

            blockding = document.getElementById(block.element);
            blockding.style.height = `${hoogte}%`;
            blocktextding = document.getElementById(block.text);
            if (blocktextding.innerHTML != padZero(waarde)) {
                blocktextding.innerHTML = padZero(waarde);
            }
        });

        const day = padZero(now.getDate());
        const month = padZero(now.getMonth() + 1);
        const year = now.getFullYear();
        const hour = padZero(now.getHours());
        const minute = padZero(now.getMinutes());
        const second = padZero(now.getSeconds());

        const nieuweTitel = `${day}-${month}-${year} ${hour}:${minute}:${second}`
        if (document.title != nieuweTitel) {
            document.title = nieuweTitel;
        }


        function kleurwaarde(start, end, factor) {
            return Math.round(start + (end - start) * factor);
        }


        const rs = parseInt(localStorage.getItem("rs") || 0);
        const gs = parseInt(localStorage.getItem("gs") || 0);
        const bs = parseInt(localStorage.getItem("bs") || 0);
        const re = parseInt(localStorage.getItem("re") || 25);
        const ge = parseInt(localStorage.getItem("ge") || 50);
        const be = parseInt(localStorage.getItem("be") || 50);


        const factor = now.getMinutes() / 59;
        const red = kleurwaarde(rs, re, factor);
        const green = kleurwaarde(gs, ge, factor);
        const blue = kleurwaarde(bs, be, factor);

        document.body.style.background = `rgb(${red}, ${green}, ${blue})`;
    }

    setTimeout(() => {
        setInterval(updateblockken, 500);
        updateblockken();
    }, 500);
</script>


<script>
    const paddingSlider = document.getElementById("padding-slider");
    const paddingNumber = document.getElementById("padding-number");
    const minhSlider = document.getElementById("hoogte-slider");
    const minhNumber = document.getElementById("hoogte-number");
    const fontWeightSlider = document.getElementById("fontWeight-slider");
    const fontWeightNumber = document.getElementById("fontWeight-number");
    const fontSizeSlider = document.getElementById("fontSize-slider");
    const fontSizeNumber = document.getElementById("fontSize-number");
    const backgroundStartNum = document.getElementById("backgroundStart-color");
    const backgroundEndNum = document.getElementById("backgroundEnd-color");
    const container = document.querySelector(".container");
    const hoverFontSizeSlider = document.getElementById("hoverFontSize-slider");
    const hoverFontSizeNumber = document.getElementById("hoverFontSize-number");

    function applySettings() { // Bij laden doc
        const paddingValue = localStorage.getItem("containerPadding") || "4";
        const minh = localStorage.getItem("minh") || "20";
        const fontWeight = localStorage.getItem("fontWeight")|| "2";
        const fontSize = localStorage.getItem("fontSize") || "7,5";
        const savedHoverFontSize = localStorage.getItem("hoverFontSize") || "135";


        const rs = localStorage.getItem("rs") || 0;
        const gs = localStorage.getItem("gs") || 0;
        const bs = localStorage.getItem("bs") || 0;

        const re = localStorage.getItem("re") || 25;
        const ge = localStorage.getItem("ge") || 50;
        const be = localStorage.getItem("be") || 50;

        const startColor = `#${parseInt(rs).toString(16).padStart(2, '0')}${parseInt(gs).toString(16).padStart(2, '0')}${parseInt(bs).toString(16).padStart(2, '0')}`;
        const endColor = `#${parseInt(re).toString(16).padStart(2, '0')}${parseInt(ge).toString(16).padStart(2, '0')}${parseInt(be).toString(16).padStart(2, '0')}`;

        backgroundStartNum.value = startColor;
        backgroundEndNum.value = endColor;


        updatePadding(paddingValue);
        updateMinh(minh);
        updateFontWeight(fontWeight);
        updateFontSize(fontSize);
        updateHoverFontSize(savedHoverFontSize);
    }

    function updatePadding(value) {
        container.style.padding = `${value}%`;
        localStorage.setItem("containerPadding", value);
        paddingSlider.value = value;
        paddingNumber.value = value;
    }

    paddingSlider.addEventListener("input", () => {
        updatePadding(paddingSlider.value);
    });

    paddingNumber.addEventListener("input", () => {
        const value = Math.min(Math.max(paddingNumber.value, 0), 20);
        updatePadding(value);
    });

    function updateMinh(value) {
        localStorage.setItem("minh", value);
        minhSlider.value = value;
        minhNumber.value = value;
    }

    minhSlider.addEventListener("input", () => {
        updateMinh(minhSlider.value);
    });

    minhNumber.addEventListener("input", () => {
        const value = Math.min(Math.max(minhSlider.value, 0), 50);
        updateMinh(value);
    });


    function updateFontWeight(value) {
        container.style.fontWeight = `${(value*100)}`;
        localStorage.setItem("fontWeight", value);
        fontWeightSlider.value = value;
        fontWeightNumber.value = value;
    }

    fontWeightSlider.addEventListener("input", () => {
        updateFontWeight(fontWeightSlider.value);
    });

    fontWeightNumber.addEventListener("input", () => {
        const value = Math.min(Math.max(fontWeightNumber.value, 0), 9);
        updateFontWeight(value);
    });


    function updateFontSize(value) {
        container.style.fontSize = `${value}em`;
        localStorage.setItem("fontSize", value);
        fontSizeSlider.value = value;
        fontSizeNumber.value = value;
    }

    fontSizeSlider.addEventListener("input", () => {
        updateFontSize(fontSizeSlider.value);
    });

    fontSizeNumber.addEventListener("input", () => {
        const value = Math.min(Math.max(fontSizeNumber.value, 0), 15);
        updateFontSize(value);
    });



    backgroundStartNum.addEventListener("input", () => {
        const rs = parseInt(backgroundStartNum.value.slice(1, 3), 16);
        const gs = parseInt(backgroundStartNum.value.slice(3, 5), 16);
        const bs = parseInt(backgroundStartNum.value.slice(5, 7), 16);
        localStorage.setItem("rs", rs);
        localStorage.setItem("gs", gs);
        localStorage.setItem("bs", bs);
    });


    backgroundEndNum.addEventListener("input", () => {
        const re = parseInt(backgroundEndNum.value.slice(1, 3), 16);
        const ge = parseInt(backgroundEndNum.value.slice(3, 5), 16);
        const be = parseInt(backgroundEndNum.value.slice(5, 7), 16);
        localStorage.setItem("re", re);
        localStorage.setItem("ge", ge);
        localStorage.setItem("be", be);
    });



    function updateHoverFontSize(value) {
        document.documentElement.style.setProperty("--hover-font-size", `${value}%`);
        hoverFontSizeSlider.value = value;
        hoverFontSizeNumber.value = value;
        localStorage.setItem("hoverFontSize", value);
    }

    hoverFontSizeSlider.addEventListener("input", () => {
        updateHoverFontSize(hoverFontSizeSlider.value);
    });

    hoverFontSizeNumber.addEventListener("input", () => {
        const value = Math.min(Math.max(hoverFontSizeNumber.value, 0), 250);
        updateHoverFontSize(value);
    });





    window.addEventListener("DOMContentLoaded", applySettings);
</script>
</body>
</html>