{% extends "base.html" %}

{% block title %}Library{% endblock %}

{% block content %}
    <section class="page-header">
        <h1>Library of websites</h1>
        <p>A collection of websites I find handy, interesting or just funny</p>
    </section>

    <div class="lib-items-container">
        {% for item in data %}
            <a href="{{ item.link }}" class="lib-item" descript="{{ item.popupdescript }}">
                <span>{{ item.title }}</span>
                <i class="{{ item.icon if item.icon else 'fa-solid fa-arrow-up-right-from-square' }}"></i>
            </a>
        {% endfor %}
    </div>
{% endblock %}