{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='projects.css') }}">
{% endblock %}

{% block content %}
    <div id="pagetitle">
        <h1>Projects</h1>
        <h2>Some of the projects I have made or that I have contributed to.</h2>
    </div>

    <ul id="projlists">
        <li>
            <a href="/" target="_blank" class="projcontainer">
                <span class="projname">This site</span>
                <p>My own site. There isn't relly much to see but it looks quite nice, I hope.</p>
                <img class="projimg" src="/static/projectimages/gijs6.nl.png">
            </a>
        </li>
        <li>
            <a href="/blog" target="_blank" class="projcontainer">
                <span class="projname">My blog</span>
                <p>The place I talk (or rant) about many diffrent things.</p>
                <img class="projimg" src="/static/projectimages/gijs6.nl_blog.png">
            </a>
        </li>
        <li>
            <a href="https://ckv.gijs6.nl" target="_blank" class="projcontainer">
                <span class="projname">My CKV-site</span>
                <p>My site for CKV (<em>culturele en kunstzinnige vorming</em>, so basically "culture and art"). I could have just built it in Wix, like everyone else, but I decided to <s>make my life more difficult</s> do everything myself.</p>
                <img class="projimg" src="/static/projectimages/ckv.gijs6.nl.png">
            </a>
        </li>
        <li>
            <a href="https://github.com/Gijs6/GSS" target="_blank" class="projcontainer">
                <span class="projname">GSS</span>
                <p>A little tool to not only beautify CSS but also make the order of the CSS nicer.</p>
                <img class="projimg" src="/static/projectimages/gss.png">
            </a>
        </li>
        <li>
            <a href="https://github.com/Gijs6/Meliag" target="_blank" class="projcontainer">
                <span class="projname">Meliag</span>
                <p>A site to display data about trains in a nice way.</p>
                <img class="projimg" src="/static/projectimages/meliag.png">
            </a>
        </li>
        <li>
            <a href="https://school.gijs6.nl" target="_blank" class="projcontainer">
                <span class="projname"><em>Leermiddelenoverzicht</em></span>
                <p>A site to collect learning recoures and my <em>samenvattingen</em>.</p>
                <img class="projimg" src="/static/projectimages/school.gijs6.nl.png">
            </a>
        </li>
        <li>
            <a href="https://git.dupunkto.org/~dupunkto/kodo" target="_blank" class="projcontainer">
                <span class="projname">Kodo</span>
                <p>A game inside a QR-code.</p>
            </a>
        </li>
        <li>
            <a href="https://git.dupunkto.org/~dupunkto/somtomorrow" target="_blank" class="projcontainer">
                <span class="projname">Somtomorrow</span>
                <p>A better web client for Somtoday</p>
                <img class="projimg" src="/static/projectimages/somtomorrow.png">
            </a>
        </li>
    </ul>
{% endblock %}
