{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Projects</h1>
        <p>Here are some of the projects I've worked on or contributed to</p>
    </div>

    <ul>
        <!-- main projects -->
        <li>
            <a href="https://git.dupunkto.org/~dupunkto/somtomorrow" target="_blank" class="projects-project">
                <strong class="projects-project-name">Somtomorrow</strong>:
                <span class="projects-project-description">A better web client for Somtoday</span>
            </a>
        </li>
        <li>
            <a href="https://git.dupunkto.org/~dupunkto/havas" target="_blank" class="projects-project">
                <strong class="projects-project-name">Havas</strong>:
                <span class="projects-project-description">A prototype CMS news articles.</span>
            </a>
        </li>
        <li>
            <a href="https://github.com/Gijs6/Barium" target="_blank" class="projects-project">
                <strong class="projects-project-name">Barium</strong>:
                <span class="projects-project-description">A simple static site generator</span>
            </a>
        </li>

        <!-- sites -->
        <li>
            <a href="https://github.com/Gijs6/gijs6.nl" target="_blank" class="projects-project">
                <strong class="projects-project-name">This very site</strong>
            </a>
        </li>
        <li>
            <a href="https://ckv.gijs6.nl" target="_blank" class="projects-project">
                <strong class="projects-project-name">My CKV-site</strong>
                <span class="projects-project-description">My site for CKV (<em lang="nl">culturele en kunstzinnige vorming</em>). Not a huge project, but I love the design!</span>
            </a>
        </li>
        <li>
            <a href="https://school.gijs6.nl" target="_blank" class="projects-project">
                <strong class="projects-project-name"><em lang="nl">Leermiddelenoverzicht</em></strong>:
                <span class="projects-project-description">All my <em lang="nl">samenvattingen</em> (summaries) and other study resources.</span>
            </a>
        </li>
    </ul>

    <p>For other projects, you can view the Git repos over at my <a href="https://github.com/Gijs6" target="_blank">GitHub profile</a> or at <a href="https://git.dupunkto.org" target="_blank">{du}punkto</a>.</p>
{% endblock %}
