<!DOCTYPE html>
<html lang=nl>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leermiddelenoverzicht</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='samenvattingen.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='samvafavico.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="inleiding">
        <div class="inleidingtekst">
            <div class="headerheader">
                <div class="helpknop">
                    <i class="fa-solid fa-circle-question" id="openKnop"></i>
                </div>
                <div class="header">
                    <p id="headernaam">Een website van <span style="font-weight: 900;">Gijs</span></p>
                    <p class="headertekstklein">Data voor het laatst opgehaald op {{ laatst_bijgewerkt }}</p>
                    <p class="headertekstklein">Bekijk informatie over de toetsen op de <a href="https://docs.google.com/spreadsheets/d/1y3-yMQ4lJkRT0c4pisbabl0PplqZcEzZGolNi-Glg_M/" target="_blank" class="link-in-tekst">PTA-spreadsheet</a>!</p>
                </div>
            </div>
            <h1>Welkom!</h1>
            <p id="introtekstsche">Op deze pagina vind je een overzicht van samenvattingen en andere leermiddelen voor alle toetsen van dit schooljaar. <span class="veranderendeTekst mobiel">Druk op de naam van een toets om meer informatie te zien.</span><span class="veranderendeTekst desktop">Hover over een toets om meer informatie over die toets te zien.</span> Veel succes met leren!</p>
        </div>



        <!-- Popup -->

        <div class="popup" id="infoPopup">
            <span class="sluitKnop"><i class="fa-solid fa-circle-xmark"></i> Site-informatie</span>
            <div class="popup-inhoud kleur inleiding" id="popupInhoudInleiding">
                <h1>Welkom op deze fantastische pagina!</h1>
                <p><span class="veranderendeTekst mobiel">Op deze pagina vind je alle toetsen</span><span class="veranderendeTekst desktop">Aan de linkerkant staan de verschillende toetsen</span> en <span class="veranderendeTekst desktop">aan de rechterkant zie je</span> de bijbehorende leermiddelen.
                <br>Voor bijna alle toetsen maak ik wel een samenvatting. Verslagen, PO's en presentaties uiteraard niet, maar ja. Je vindt hier ook handige woordenlijsten (vaak op StudyGo), begrippenlijsten en linkjes naar andere handige leermiddelen.
                <br><small>Ik ben al een tijdje 'bezig' met het overzetten van de samenvattingen van Google Docs naar een md die ik hier zelf host maar dat heb ik nog niet af, dus voor nu kun je gewoon terecht op de Google Docs.</small>
                <br><strong>Veel succes met leren en maak er wat moois van!</strong></p>
            </div>
            <div class="popup-inhoud kleur" id="popupInhoudKleur">
                <p>Betekenissen van de kleuren</p>
                <div class="voorbeeldblokkencontainer">
                    <div class="voorbeeldblokkencontainer-2">
                        <div class="voorbeeldblok geel">Toets later</div>
                        <div class="voorbeeldblok blauw">Toets binnenkort</div>
                        <div class="voorbeeldblok groen">Toets afgerond</div>
                    </div>
                        <div class="voorbeeldblokkencontainer-2">
                        <div class="voorbeeldblok groen">Samenvatting/leermiddel beschikbaar</div>
                        <div class="voorbeeldblok geel">Samenvatting wordt gemaakt</div>
                        <div class="voorbeeldblok rood">Geen samenvatting</div>
                    </div>
                </div>
            </div>
            <div class="popup-inhoud container" id="popupInhoudContainer">
                <div class="footer">
                    <p>Gemaakt door Gijs</p>
                    <p>Alle <strong>originele website-inhoud</strong> en <strong>code</strong> en de <strong>originele inhoud</strong> van <strong>samenvattingen</strong>, <strong>woordenlijsten</strong> en <strong>overige leermiddelen</strong>, is <strong>volledig vrijgegeven in het publieke domein zonder enige vorm van auteursrecht</strong>, in overeenstemming met de <a href="https://unlicense.org/" target="_blank" class="link-in-tekst">Unlicense</a> en <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" class="link-in-tekst">CC0</a> (externe bronnen kunnen onder andere licentievoorwaarden  en auteursrechten vallen)</p>
                    <p>Gemaakt met <a href="https://github.com/pallets/flask" target="_blank" class="link-in-tekst">Flask</a> en <a href="https://github.com/pallets/jinja" target="_blank" class="link-in-tekst">Jinja</a>, gehost door <a href="https://eu.pythonanywhere.com/" target="_blank" class="link-in-tekst">PythonAnwyhere</a></p>
                    <p>Bekijk de <a href="https://github.com/Gijs6/site" target="_blank" class="link-in-tekst">broncode op GitHub</a></p>
                </div>
            </div>
        </div>


        <!-- /Popup -->





    </div>





    {% macro maak_toets_rij(item) %}
        <div class="itemrij {{ item.Weergave }}" id="{{ item.Toetscode }}">
            <div class="blok titel {{ item.Weergave }}">
                <div class="iconcontainer">
                    {% if item.Icon in ["NETL", "ENTL", "FATL"] %}
                        <img src="/static/{{ item.Icon }}.png" width="40" alt="Een vlag om het vak {{ item.Icon }} te duiden">
                    {% else %}
                        <i class="{{ item.Icon }}"></i>
                    {% endif %}
                </div>
                <div class="textcontainer">
                    <div class="vak-en-toets {{ item.Weergave }}">
                        <h1>{{ item.Vak }}</h1>
                        <h2>{{ item.Leerstof }}</h2>
                    </div>
                    <div class="overige-info">
                        <!-- Toets op/tijdens periode --><h2>{{ item.Toetsvorm }} {{ "tijdens" if item.Afname_tekst_specificiteit == "TIJDVAK" else "op" }} <span style="font-weight: bold;">{{ item.Afname_tekst }}</span></h2>
                    </div>
                </div>
            </div>






            <!-- Hoverinfostuff -->


            <div class="onzichtbarehoverzooi">
                <div class="infoblok">
                    <div class="infoblokrijding vakinfoblokrij">
                        {{ item.Vak_volledig }}
                        <div class="iconcontainerinfoblok icon-in-de-vakinfoblokrij">
                            {% if item.Icon in ["NETL", "ENTL", "FATL"] %}
                                <img src="/static/{{ item.Icon }}.png" width="40" alt="Een vlag om het vak {{ item.Icon }} te duiden">
                            {% else %}
                                <i class="{{ item.Icon }}"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <span style="font-weight: 900;">{{ item.Leerstof_medium }}</span>
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-calendar"></i>
                        </div>
                        {% if item.Afname_tekst_specificiteit == "DATUM" %}
                            {{ item.Afnametijd_dag.capitalize() }}
                        {% else %}
                            {{ item.Tijd.capitalize() }}
                        {% endif %}
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-hashtag"></i>
                        </div>
                        {{ item.Toetscode }}
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                        {% if item.Duur == "-" %}
                            Niet van toepassing
                        {% else %}
                            {{ item.Duur }} min
                        {% endif %}
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-rotate-right"></i>
                        </div>
                        {% if item.Herkansbaarheid == "Ja" %}
                            <span style="color: var(--groen);">Wel</span>&nbsp;herkansbaar
                        {% elif item.Herkansbaarheid == "Nee" %}
                            <span style="color: var(--rood);">Niet</span>&nbsp;herkansbaar
                        {% endif %}
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-list-ol"></i>
                        </div>
                        {{ item.OC }} (OC)
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-list-ol"></i>
                        </div>
                        {{ item.SE }} (SE)
                    </div>
                </div>
            </div>







            <!-- /Hoverinfostuff -->











            <div class="linkjes {{ item.Weergave }}">
                {% if not item.samenvattingtonen %}
                    {% if item.Er_komt_ooit_een_samva %}
                        <div class="link inactief">
                            {{ item.samenvattingstatustekst }}
                        </div>
                    {% else %}
                        <div class="link nooitactief">
                            {{ item.samenvattingstatustekst }}
                        </div>
                    {% endif %}
                {% else %}
                    <a class="link actief samenvatting {{ item.Weergave }}" href="{{ item.Link_samenvatting }}" target="_blank">Samenvatting <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                {% endif %}

                {% if item.linksbeschikbaar %}
                    {% for linkitem in item.links %}
                        <a class="link actief {{ item.Weergave }}" href="{{ linkitem.link }}" target="_blank">{{ linkitem.title }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endmacro %}






    <div class="container">
        <h1 class="blokheader">Aankomende toetsen</h1>
        <div class="container-toetsen aankomend">
            {% for item in data %}
                {% if item.Weergave != "NEE" %}

                    {{ maak_toets_rij(item) }}

                {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="container">
        <h1 class="blokheader">Eerdere toetsen</h1>
        <div class="container-toetsen eerder">
            {% for item in data %}
                {% if item.Weergave == "NEE" %}

                    {{ maak_toets_rij(item) }}

                {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="footercontainer">
        <div class="footer">
            <p>Gemaakt door Gijs</p>
            <p>Alle <strong>originele website-inhoud</strong> en <strong>code</strong> en de <strong>originele inhoud</strong> van <strong>samenvattingen</strong>, <strong>woordenlijsten</strong> en <strong>overige leermiddelen</strong>, is <strong>volledig vrijgegeven in het publieke domein zonder enige vorm van auteursrecht</strong>, in overeenstemming met de <a href="https://unlicense.org/" target="_blank" class="link-in-tekst">Unlicense</a> en <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" class="link-in-tekst">CC0</a> (externe bronnen kunnen onder andere licentievoorwaarden  en auteursrechten vallen)</p>
            <p>Gemaakt met <a href="https://github.com/pallets/flask" target="_blank" class="link-in-tekst">Flask</a> en <a href="https://github.com/pallets/jinja" target="_blank" class="link-in-tekst">Jinja</a>, gehost door <a href="https://eu.pythonanywhere.com/" target="_blank" class="link-in-tekst">PythonAnwyhere</a></p>
            <p>Bekijk de <a href="https://github.com/Gijs6/site" target="_blank" class="link-in-tekst">broncode op GitHub</a></p>
        </div>
    </div>

    <script>
        const openKnop = document.getElementById('openKnop');
        const sluitKnop = document.getElementById('sluitKnop');
        const popup = document.getElementById('infoPopup');

        openKnop.addEventListener('click', () => {
            popup.style.display = 'flex';
        });

        document.querySelector(".sluitKnop").addEventListener("click", function () {
            const popup = document.getElementById("infoPopup");
            const popupcontentinl = document.getElementById('popupInhoudInleiding');
            const popupcontentA = document.getElementById('popupInhoudKleur');
            const popupcontentB = document.getElementById('popupInhoudContainer');
            popup.classList.add("sluiten");
            popupcontentinl.classList.add("sluiten");
            popupcontentA.classList.add("sluiten");
            popupcontentB.classList.add("sluiten");
            setTimeout(() => {
                popup.style.display = "none";
                popup.classList.remove("sluiten");
                popupcontentinl.classList.remove("sluiten");
                popupcontentA.classList.remove("sluiten");
                popupcontentB.classList.remove("sluiten");
            }, 500);
        });
    </script>

    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const blokTitels = document.querySelectorAll('.blok.titel');
        const onzichtbarehoverzooien = document.querySelectorAll('.onzichtbarehoverzooi'); // onzichtbarehoverzooien is wel de mooiste naam die ik ooit heb gebruikt

        blokTitels.forEach((blokTitel, index) => {
            const onzichtbarehoverzooi = onzichtbarehoverzooien[index];


            function hideOnHover() {
                if (!blokTitel.matches(':hover') && !onzichtbarehoverzooi.matches(':hover')) {
                    onzichtbarehoverzooi.classList.add("sluiten");
                    setTimeout(() => {
                        onzichtbarehoverzooi.style.display = "none";
                        onzichtbarehoverzooi.classList.remove("sluiten");
                    }, 500); // Zelfde als de duur van de .onzichtbarehoverzooi.sluiten animatie
                }
            }

            function showOnHover() {
                if (blokTitel.matches(':hover') || onzichtbarehoverzooi.matches(':hover')) {
                    onzichtbarehoverzooi.style.display = "block";
                }
            }

            blokTitel.addEventListener('mouseleave', hideOnHover);
            onzichtbarehoverzooi.addEventListener('mouseleave', hideOnHover);
            blokTitel.addEventListener('mouseenter', showOnHover);
            onzichtbarehoverzooi.addEventListener('mouseenter', showOnHover);
        });
    });
</script>

</body>
</html>