#commitfreqcontainer {
    position: relative;
}

#commitfreq {
    display: grid;
    grid-template-columns: auto repeat(52, 1fr);
    font-size: 0.7em;
    overflow-x: scroll;
    padding-bottom: 1em;
}

.extra-info.week {
    color: var(--oc-gray-5);
    text-align: center;
}

.extra-info.week.day {
    font-size: 1.1em;
    margin-right: 0.5em;
}

.extra-info.week.num {
    margin: 0 0.1em 0.5em 0.1em;
}

.cell {
    aspect-ratio: 1 / 1;
}

.cell::after {
    content: attr(data-message);
    position: absolute;
    text-align: right;
    top: 110%;
    right: 0%;
    display: none;
    min-width: max-content;
    z-index: 1000;
    padding: 0.5em;
    background: black;
    color: white;
    border: 0.1em solid white;
    border-radius: 1em;
    white-space: pre-line;
}

.cell:hover::after {
    display: unset;
}

#under-the-graph {
    font-size: 0.9em;
    color: var(--oc-gray-5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}
