#libcollection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    font-size: 0.9em;
}

.libitem {
    flex-direction: row-reverse;
    border: 1px white solid;
    padding: 10px;
}

.libitem:hover {
    background: white;
    color: black;
}

.libitemtxt {
    text-decoration: none;
}
