ul {
    padding: revert;
}

.projname {
    font-weight: 700;
}

ul li {
    margin-bottom: 20px;
}

.projcontainer {
    text-decoration: none;
}

.projname {
    text-decoration: underline;
}

.projcontainer p {
    font-size: 0.8em;
    font-weight: 500;
}
