@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --front: white;
    --back: black;
    --blue: #14a0c4;
}

[data-theme="light"] {
    --front: black;
    --back: white;
    --blue: #1d5196;
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Mulish, sans-serif;
    padding: 20px;
    background: var(--back);
    color: var(--front);
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #aaa;
    padding-bottom: .5em;
}

#theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: var(--front);
    color: var(--back);
}

header h1 {
    margin-block: .25em;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

a {
    color: var(--blue);
}

footer {
    border-top: 1px solid #aaa;
    padding-top: 10px;
}

footer p {
    margin-block: .4em;
}

main {
    margin: 30px 0;
}

#copyrightstuff {
    font-size: .8em;
}

#post-info {
    padding: 0 .5em;
    border-left: 2px solid var(--blue);
    font-size: .9em;
}

#post-info p {
    margin-block: .25em;
}

a:has(i) {
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}

.menu-itemtxt {
    font-weight: 800;
}

a :not(i) {
    text-decoration: underline;
}

i {
    text-decoration: none !important;
}

strong {
    font-weight: 800;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    opacity: .8;
    border-left: .25em solid var(--blue);
}

code {
    font-family: monospace;
    padding-inline: .3em;
    background-color: #777b805c;
    border-radius: 6px;
}

