<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('shopping_bp.static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('shopping_bp.static', filename='main.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('shopping_bp.static', filename='fav.ico') }}">

        <title>Shopping</title>
    </head>
    <body>
        <header>
            <h1 id="page-header">Boodschappenlijst <i class="fa-solid fa-basket-shopping"></i></h1>
            <!-- start devb --><h2>You're working in development, so just remember that the changes to the to-do list are very much local</h2><!-- end devb -->
        </header>

        <div id="status"></div>

        <div id="button-menu">
            <button id="delete-checked"><i class="fa-solid fa-check"></i> Afgevinkte items verwijderen</button>
            <button id="delete-all"><i class="fa-solid fa-trash-can"></i> Alle items verwijderen</button>
        </div>

        <div id="item-container"></div>
    </body>
</html>
