@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --zwart: #0f212e;
    --witblauw: #d1e3f0;
    --wit: #eaf2ef;
    --grijs: #6b6d76;
    --dblauw: #28587b;
    --lblauw: #0f95b0;
    --geel: #ffa630;
    --rood: #e65039;
    --groen: #06c749
}


body {
    background-color: var(--zwart);
    background-image: url("/static/achtergrond.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--witblauw);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body.cijfer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    gap: 5vw;
    hyphens: auto;
}

body.top-aligned {
    display: block;
    padding-top: 2.5vw;
    padding-bottom: 5vw;
    margin: auto
}

.bovenrij,
.onderrij {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 5vw;
    width: 80vw;
    margin: 0 auto;
}

.text-block,
.score-block,
.date-block,
.average-block {
    background-color: var(--dblauw);
    border-radius: 3vw;
    padding: 3vw;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
    transform: translateY(20px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-block, .score-block, .date-block, .average-block {
    flex: 1 1 auto;
}

.text-block, .average-block, .date-block {
    align-items: right;
    max-width: calc(80vw - 10px);
}

.score-block {
    align-items: center;
    max-width: fit-content;
}

.date-block {
    max-width: 25vw;
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}


h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 1px;
    font-weight: 300;
    font-size: clamp(12px, 1.5vw, 25px);
}


#subject {
    font-size: clamp(30px, 4vw, 60px);!;
    margin-bottom: 5px;
    font-weight: 900;
}

#test-name {
    font-size: clamp(20px, 2.5vw, 40px);
    font-weight: 500;
}

#score {
    font-size: clamp(55px, 12vw, 120px);
    font-family: 'JetBrains Mono', mono;
    font-weight: 900;
}

#datetimekop {
    font-size: clamp(15px, 2vw, 40px);
    margin-bottom: 5px;
    font-weight: 600;
}

#date-timeAB {
    font-size: clamp(15px, 2vw, 40px);
    margin-bottom: 5px;
    font-weight: 300;
}

#infotekst {
    font-size: clamp(15px, 2vw, 40px);
    margin-bottom: 5px;
    font-weight: 500;
}

#vakbenadruk {
    font-weight: 900;
}

#average {
    font-size: clamp(20px, 5vw, 45px);
    font-family: 'JetBrains Mono', mono;
    font-weight: 900;
}


.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.toast {
    position: fixed;
    top: 7.5px;
    left: 7.5px;
    padding: 7.5px;
    color: var(--wit);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.success {
    background-color: var(--groen);
}

.toast.error {
    background-color: var(--rood);
}

.toast svg {
    width: 20px;
    height: 20px;
    fill: white;
}


@media (max-width: 1000px) {
    #score {
        /* font-size: 12vw; */
    }

    .score-block {
        max-width: none;
    }

    .bovenrij {
        flex-direction: column;
        gap: 2vw;
    }

    .onderrij {
        gap: 2vw;
    }

    body.cijfer {
        gap: 2vw;
    }
}



@media (max-width: 400px) {
    canvas {
        display: none;
    }
}



















.containerB {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    max-width: 90vw;
    /* flex: 1 1 auto; */
    gap: 50px;
}


.hw-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: nowrap;
    /* flex: 1 1 auto; */
    flex-grow: 1;
    gap: 20px;
}


.hw-block {
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


.hw-icon-block {
    display: flex;
    justify-content: center;
    font-size: clamp(20px, 3.5vw, 40px);
    align-items: center;
    background-color: var(--wit);
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    /* flex: 1 1 auto; */
    flex-grow: 1;
    min-width: clamp(50px, 5vw, 80px);
    max-width: clamp(50px, 5vw, 80px);
}

.hw-infotext {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    /* flex: 1 1 auto; */
    flex-grow: 2;
    gap: 20px;
    /* width: 50%; */
    /* max-width: 80%; */
}


.hw-icon-block img {
    width: 50%;
    height: auto;
}

.hw-icon-block.HUISWERK {
    background-color: var(--geel);
}

.hw-icon-block.TOETS {
    background-color: var(--rood);
}

.hw-icon-block.GROTE_TOETS {
    background-color: var(--rood);
}

.hw-icon-block.INLEVER {
    background-color: var(--lblauw);
}


.hw-toprij {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    gap: 10px;
}

.hw-datumblokken {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    gap: 10px;
}


.hw-datumblokAF,
.hw-datumblokInvoer,
.hw-onderblok,
.vakblok {
    background-color: var(--dblauw);
    padding: clamp(10px, 2vw, 25px);
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
}

.vakblok,
.hw-datumblokAF,
.hw-datumblokInvoer {
    display: flex;
    align-items: center
}

.hw-onderblok.gemaakt {
    background-color: var(--groen);
    color: var(--zwart);
    text-decoration: line-through
}


#hwvak {
    font-size: clamp(15px, 3.5vw, 40px);
    font-weight: 800;
}

#hwdatumaf,
#hwdatuminvoer {
    font-size: clamp(10px, 1.75vw, 25px);
    font-weight: 600;
}

#hwkop {
    font-size: clamp(15px, 1.65vw, 35px);
    font-weight: 700;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    hyphens: auto;
    margin: 0;
}

#hwtekst {
    font-size: clamp(12px, 1.5vw, 25px);
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    hyphens: auto;
    margin: 0;
}


@media (max-width: 1000px) {
    .hw-datumblokken {
        flex-direction: column
    }
    .hw-infotext {
        max-width: 70%;
    }
}

@media (max-width: 750px) {
    .hw-toprij {
        flex-direction: column
    }
    .hw-datumblokken {
        flex-direction: row
    }
}

@media (max-width: 500px) {
    .hw-toprij {
        flex-direction: column
    }
    .hw-datumblokken {
        flex-direction: column
    }
}







