<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GradeCheck</title>
        <link rel="stylesheet" href="{{ url_for('priv_bp.static', filename='styles/grade.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('priv_bp.static', filename='favs/grade.ico') }}">
        <script src="{{ url_for('priv_bp.static', filename='scripts/grade.js') }}"></script>

        <meta name="robots" content="noindex">
    </head>
    <body>
        <div id="container">
            <div class="block" id="title-block">
                <span id="subject">{{ subject }}</span>
                <span id="test-name">{{ test_name }}</span>
            </div>
            <div class="block" id="score-block">
                <span id="score">{{ score }}</span>
            </div>
            <div class="block" id="date-block">
                <span id="datetime">{{ datetime }}</span>
            </div>
            <div class="block" id="average-block">
                <span id="new-average-header">New average <strong>{{ subject }}</strong></span>
                <span id="new-average">{{ new_average }}</span>
            </div>
        </div>
    </body>
</html>
