{% extends "public/base.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='public/home.css') }}">
{% endblock %}

{% block content %}
    <div id="pagetitle">
        <h1>Hello! <i class="fa-solid fa-face-smile-beam"></i></h1>
        <h2>Welcome! I'm Gijs. This is my little space on the web. I sometimes write some code.</h2>
        <h3>Almost all the code I write is open-source, so take a look at my <a href="https://github.com/Gijs6" target="_blank">GitHub profile</a> for some of my projects</h3>
        <h3>There isn't much to see on this website (yet) but have fun looking around!</h3>
    </div>

    <table id="commitfreq">
        <tr>
            <th class="extra-info weeknum"></th>
            {% for headeritem in headers %}
                <th class="extra-info weeknum">{{ headeritem }}</th>
            {% endfor %}
        </tr>

        {% set days_of_week = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %}

        {% for row in graphdata %}
            <tr>
                <td class="extra-info weekday">{{ days_of_week[loop.index0] }}</td>
                {% for cell in row %}
                    <td data-value="{{ cell.value }}" data-date="{{ cell.date }}" data-message="{{ cell.message }}" data-color-dark="{{ cell.darkcolor }}" data-color-light="{{ cell.lightcolor }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div id="undergraph">
        <p class="annotation">The heatmap above shows the amount of Git commits I made in <a href="https://github.com/Gijs6?tab=repositories" target="_blank">all of my own repo's</a> and in all the repo's from <a href="https://git.dupunkto.org" target="_blank">{du}punkto</a>.</p>
        <p class="annotation">Last updated {{ last_updated }} UTC.</p>

    </div>

    <script>
        function fixThemes(theme) {
            var tds = document.querySelectorAll('#commitfreq td');
            tds.forEach(function(td) {
                if (theme == 'light') {
                    td.style.background = td.getAttribute('data-color-light');
                } else {
                    td.style.background = td.getAttribute('data-color-dark');
                }
            });
        }
        var oldTheme = localStorage.getItem('theme') || 'dark';
        fixThemes(oldTheme);
    </script>

{% endblock %}
