<!DOCTYPE html>
<html lang=nl>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leermiddelenoverzicht</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='public/samenvattingen.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favs/samva.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='afbs/samvapng.png') }}">
    <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="inleiding">
        <div id="inleidingtekst">
            <div id="headerheader">
                <div id="helpknoppen">
                    <i class="fa-solid fa-circle-question" id="knopOpenInfo"></i>
                    <i class="fa-solid fa-gears" id="knopOpenSettings"></i>
                </div>
                <div id="header">
                    <p id="headernaam">Een website van <a href="/contact?lang=nl" style="font-weight: 900;text-decoration:none;color: var(--witblauw);">Gijs</a></p>
                    <p class="headertekstklein">Data voor het laatst opgehaald op {{ laatst_bijgewerkt }}</p>
                    <p class="headertekstklein"><a href="/school/min" class="link-in-tekst">Minimale versie</a></p>
                </div>
            </div>
            <h1>Welkom!</h1>
            <p id="introtekstsche">Op deze pagina vind je een overzicht van samenvattingen en andere leermiddelen voor alle toetsen van dit schooljaar. Veel succes met leren!</p>
        </div>

        <!-- Infopopup -->
        <div class="popup" id="infoPopup">
            <span id="knopSluitInfo" class="sluitKnop"><i class="fa-solid fa-circle-xmark"></i> Site-informatie</span>
            <div class="popup-inhoud kleur inleiding" id="popupInhoudInleiding">
                <h1>Welkom op deze fantastische pagina!</h1>
                <p><span class="veranderendeTekst mobiel">Op deze pagina vind je alle toetsen</span><span class="veranderendeTekst desktop">Aan de linkerkant staan de verschillende toetsen</span> en <span class="veranderendeTekst desktop">aan de rechterkant zie je</span> de bijbehorende leermiddelen.
                <br>Voor bijna alle toetsen maak ik wel een samenvatting. Verslagen, PO's en presentaties uiteraard niet, maar ja. Je vindt hier ook handige woordenlijsten (vaak op StudyGo), begrippenlijsten en linkjes naar andere handige leermiddelen.
                <br><strong>Veel succes met leren en maak er wat moois van!</strong></p>
            </div>
            <div class="popup-inhoud kleur" id="popupInhoudKleur">
                <p>Betekenissen van de kleuren</p>
                <div class="voorbeeldblokkencontainer">
                    <div class="voorbeeldblokkencontainer-2">
                        <div class="voorbeeldblok geel">Toets later</div>
                        <div class="voorbeeldblok blauw">Toets binnenkort</div>
                        <div class="voorbeeldblok groen">Toets afgerond</div>
                    </div>
                        <div class="voorbeeldblokkencontainer-2">
                        <div class="voorbeeldblok groen">Samenvatting/leermiddel beschikbaar</div>
                        <div class="voorbeeldblok geel">Samenvatting wordt gemaakt</div>
                        <div class="voorbeeldblok rood">Geen samenvatting</div>
                    </div>
                </div>
            </div>
            <div class="popup-inhoud container" id="popupInhoudContainer">
                <div class="footer">
                    <p>Gemaakt door Gijs</p>
                    <p>Alle <strong>originele website-inhoud</strong> en <strong>code</strong> en de <strong>originele inhoud</strong> van <strong>samenvattingen</strong>, <strong>woordenlijsten</strong> en <strong>overige leermiddelen</strong>, is <strong>volledig vrijgegeven in het publieke domein zonder enige vorm van auteursrecht</strong>, in overeenstemming met de <a href="https://unlicense.org/" target="_blank" class="link-in-tekst">Unlicense</a> en <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" class="link-in-tekst">CC0</a> (externe bronnen kunnen onder andere licentievoorwaarden  en auteursrechten vallen)</p>
                    <p>Gemaakt met <a href="https://github.com/pallets/flask" target="_blank" class="link-in-tekst">Flask</a> en <a href="https://github.com/pallets/jinja" target="_blank" class="link-in-tekst">Jinja</a>, gehost door <a href="https://eu.pythonanywhere.com/" target="_blank" class="link-in-tekst">PythonAnwyhere</a></p>
                    <p>Bekijk de <a href="https://github.com/Gijs6/site" target="_blank" class="link-in-tekst">broncode op GitHub</a></p>
                    <p>Neem <a href="/contact?lang=nl" class="link-in-tekst">contact</a> op</p>
                </div>
            </div>
        </div>
        <!-- /Infopopup -->



        <!-- Settings -->
        <div id="settingsContainer">
            <div id="settingsInhoud">
                <span class="sluitKnop"><i class="fa-solid fa-circle-xmark" id="knopSluitSettings"></i></span>
                <h1>Bepaal de volgorde van de toetscategorieën</h1>
                <div id="orderSettings">
                    <div class="orderitem" draggable="true">
                        <div class="orderiteminhoud binnenkort">Toetsen binnenkort</div>
                    </div>
                    <div class="orderitem" draggable="true">
                        <div class="orderiteminhoud eerder">Eerdere toetsen</div>
                    </div>
                    <div class="orderitem" draggable="true">
                        <div class="orderiteminhoud later">Latere toetsen</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /settings -->


    </div>


    {% macro maak_toets_rij(item) %}
        <div class="itemrij {{ item.Weergave }}" id="{{ item.Toetscode }}">
            <div class="blok titel {{ item.Weergave }}">
                <div class="iconcontainer">
                    {% if item.Icon in ["NETL", "ENTL", "FATL"] %}
                        <img src="/static/afbs/{{ item.Icon }}.png" width="40" alt="Een vlag om het vak {{ item.Icon }} te duiden">
                    {% else %}
                        <i class="{{ item.Icon }}"></i>
                    {% endif %}
                </div>
                <div class="textcontainer">
                    <div class="vak-en-toets {{ item.Weergave }}">
                        <h1>{{ item.Vak }}</h1>
                        <h2>{{ item.Leerstof }}</h2>
                    </div>
                    <div class="overige-info">
                        <!-- Toets op/tijdens periode --><h2>{{ item.Toetsvorm }} {{ "tijdens" if item.Afname_tekst_specificiteit == "TIJDVAK" else "op" }} <span style="font-weight: bold;">{{ item.Afname_tekst }}</span></h2>
                    </div>
                </div>
            </div>



            <!-- Hoverinfostuff -->


            <div class="onzichtbarehoverzooi">
                <div class="infoblok">
                    <span class="sluitKnop3"><i class="fa-solid fa-circle-xmark"></i></span>
                    <div class="infoblokrijding vakinfoblokrij">
                        {{ item.Vak_volledig }}
                        <div class="iconcontainerinfoblok icon-in-de-vakinfoblokrij">
                            {% if item.Icon in ["NETL", "ENTL", "FATL"] %}
                                <img src="/static/afbs/{{ item.Icon }}.png" width="40" alt="Een vlag om het vak {{ item.Icon }} te duiden">
                            {% else %}
                                <i class="{{ item.Icon }}"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <span style="font-weight: 900;">{{ item.Leerstof_medium }}</span>
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-calendar"></i>
                        </div>
                        {% if item.Afname_tekst_specificiteit == "DATUM" %}
                            {{ item.Afnametijd_dag.capitalize() }}
                        {% else %}
                            {{ item.Tijd.capitalize() }}
                        {% endif %}
                    </div>

                    {% if item.Weergave == "NEE" %}
                        <div class="infoblokrijding">
                            <div class="iconcontainerinfoblok">
                                <i class="fa-solid fa-list-check"></i>
                            </div>
                            {% if item.Cijfontvangen == "Ja" %}
                                Cijfer ontvangen op {{ item.Invoer }}
                            {% else %}
                                Nog geen cijfer ontvangen
                            {% endif %}
                        </div>
                    {% endif %}


                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-hashtag"></i>
                        </div>
                        {{ item.Toetscode }}
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-file-pen"></i>
                        </div>
                        {{ item.Toetsvorm }}
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                        {% if item.Duur == "-" %}
                            Niet van toepassing
                        {% else %}
                            {{ item.Duur }} min
                        {% endif %}
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-rotate-right"></i>
                        </div>
                        {% if item.Herkansbaarheid == "Ja" %}
                            <span style="color: var(--groen);">Wel</span>&nbsp;herkansbaar
                        {% elif item.Herkansbaarheid == "Nee" %}
                            <span style="color: var(--rood);">Niet</span>&nbsp;herkansbaar
                        {% endif %}
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-list-ol"></i>
                        </div>
                        {{ item.OC }} (OC)
                    </div>
                    <div class="infoblokrijding">
                        <div class="iconcontainerinfoblok">
                            <i class="fa-solid fa-list-ol"></i>
                        </div>
                        {{ item.SE }} (SE)
                    </div>
                </div>
            </div>







            <!-- /Hoverinfostuff -->











            <div class="linkjes {{ item.Weergave }}">
                {% if not item.samenvattingtonen %}
                    {% if item.Er_komt_ooit_een_samva %}
                        <div class="link inactief">
                            {{ item.samenvattingstatustekst }}
                        </div>
                    {% else %}
                        <div class="link nooitactief">
                            {{ item.samenvattingstatustekst }}
                        </div>
                    {% endif %}
                {% else %}
                    <a class="link actief samenvatting {{ item.Weergave }}" href="{{ item.Link_samenvatting }}" target="_blank">Samenvatting <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                {% endif %}

                {% if item.linksbeschikbaar %}
                    {% for linkitem in item.links %}
                        <a class="link actief {{ item.Weergave }}" href="{{ linkitem.link }}" target="_blank">{{ linkitem.title }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endmacro %}




    <div id="alletoetsencontainer">

        {% if isErBinnenkort %}
            <div class="container" id="containerBinnenkort">
                <h1 class="blokheader">Binnenkort</h1>
                <div class="container-toetsen binnenkort">
                    {% for item in data %}
                        {% if item.Weergave == "JA" %}
                            {{ maak_toets_rij(item) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if isErEerder %}
            <div class="container" id="containerEerder">
                <h1 class="blokheader">Eerder</h1>
                <div class="container-toetsen eerder">
                    {% for item in data %}
                        {% if item.Weergave == "NEE" %}
                            {{ maak_toets_rij(item) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if isErLater %}
            <div class="container" id="containerLater">
                <h1 class="blokheader">Later</h1>
                <div class="container-toetsen later">
                    {% for item in data %}
                        {% if item.Weergave == "JA_DEELS" %}
                            {{ maak_toets_rij(item) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div id="earliersamvascontainer">
        <div id="earliersamvas">
            <p>Bekijk een lijst van samenvattingen en samenvattingen uit eerdere leerjaren op <a href="https://docs.gijs6.nl" class="link-in-tekst">docs.gijs6.nl</a></p>
        </div>
    </div>


    <div class="footercontainer">
        <div class="footer">
            <p>Gemaakt door Gijs</p>
            <p>Alle <strong>originele website-inhoud</strong> en <strong>code</strong> en de <strong>originele inhoud</strong> van <strong>samenvattingen</strong>, <strong>woordenlijsten</strong> en <strong>overige leermiddelen</strong>, is <strong>volledig vrijgegeven in het publieke domein zonder enige vorm van auteursrecht</strong>, in overeenstemming met de <a href="https://unlicense.org/" target="_blank" class="link-in-tekst">Unlicense</a> en <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" class="link-in-tekst">CC0</a> (externe bronnen kunnen onder andere licentievoorwaarden  en auteursrechten vallen)</p>
            <p>Gemaakt met <a href="https://github.com/pallets/flask" target="_blank" class="link-in-tekst">Flask</a> en <a href="https://github.com/pallets/jinja" target="_blank" class="link-in-tekst">Jinja</a>, gehost door <a href="https://eu.pythonanywhere.com/" target="_blank" class="link-in-tekst">PythonAnwyhere</a></p>
            <p>Bekijk de <a href="https://github.com/Gijs6/site" target="_blank" class="link-in-tekst">broncode op GitHub</a></p>
            <p>Neem <a href="/contact?lang=nl" class="link-in-tekst">contact</a> op</p>
        </div>
    </div>







    <!-- Info popup -->
    <script>
        const openKnop = document.getElementById("knopOpenInfo");
        const sluitKnop = document.getElementById("knopSluitInfo");
        const popup = document.getElementById("infoPopup");

        openKnop.addEventListener("click", () => {
            popup.style.display = "flex";
        });

        sluitKnop.addEventListener("click", function () {
            const popup = document.getElementById("infoPopup");
            const popupcontentinl = document.getElementById("popupInhoudInleiding");
            const popupcontentA = document.getElementById("popupInhoudKleur");
            const popupcontentB = document.getElementById("popupInhoudContainer");
            popup.classList.add("sluiten");
            popupcontentinl.classList.add("sluiten");
            popupcontentA.classList.add("sluiten");
            popupcontentB.classList.add("sluiten");
            setTimeout(() => {
                popup.style.display = "none";
                popup.classList.remove("sluiten");
                popupcontentinl.classList.remove("sluiten");
                popupcontentA.classList.remove("sluiten");
                popupcontentB.classList.remove("sluiten");
            }, 500);
        });
    </script>

    <!-- Settings popup -->
    <script>
        const openKnopSettings = document.getElementById("knopOpenSettings");
        const sluitKnopSettings = document.getElementById("knopSluitSettings");
        const popupSettings = document.getElementById("settingsContainer");
        const popupcontentSettings = document.getElementById("settingsInhoud");

        openKnopSettings.addEventListener("click", () => {
            popupSettings.style.display = "flex";
        });

        sluitKnopSettings.addEventListener("click", function () {
            // const popupSettings = document.getElementById("settingsContainer");
            // const popupcontentSettings = document.getElementById("settingsInhoud");
            popupSettings.classList.add("sluiten");
            popupcontentSettings.classList.add("sluiten");
            setTimeout(() => {
                popupSettings.style.display = "none";
                popupSettings.classList.remove("sluiten");
                popupcontentSettings.classList.remove("sluiten");
            }, 500);
        });
    </script>

    <!-- Info hover -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const blokTitels = document.querySelectorAll('.blok.titel');
            const onzichtbarehoverzooien = document.querySelectorAll('.onzichtbarehoverzooi'); // onzichtbarehoverzooien is wel de mooiste naam die ik ooit heb gebruikt
            const sluitKnoppen = document.querySelectorAll(".sluitKnop3");


            blokTitels.forEach((blokTitel, index) => {
                const onzichtbarehoverzooi = onzichtbarehoverzooien[index];
                const sluitKnop = sluitKnoppen[index];
                let knopTimeout = false

                function stuffHiden() {
                    onzichtbarehoverzooi.classList.add("sluiten");
                    setTimeout(() => {
                        onzichtbarehoverzooi.style.display = "none";
                        onzichtbarehoverzooi.classList.remove("sluiten");
                        showOnHover();
                    }, 300); // Zelfde als de duur van de .onzichtbarehoverzooi.sluiten animatie

                }


                function stuffShowen() {
                    onzichtbarehoverzooi.style.display = "block";
                }



                function hideOnHover() {
                    if (!blokTitel.matches(':hover') && !onzichtbarehoverzooi.matches(':hover')) {
                        stuffHiden()
                    }
                }

                function showOnHover() {
                    if ((blokTitel.matches(':hover') || onzichtbarehoverzooi.matches(':hover')) && !knopTimeout) {
                        setTimeout(() => {
                            if (blokTitel.matches(':hover') || onzichtbarehoverzooi.matches(':hover')) {
                                onzichtbarehoverzooi.style.display = "block";
                            }
                        }, 150);
                    }
                }

                blokTitel.addEventListener('mouseleave', hideOnHover);
                onzichtbarehoverzooi.addEventListener('mouseleave', hideOnHover);
                blokTitel.addEventListener('mouseenter', showOnHover);
                onzichtbarehoverzooi.addEventListener('mouseenter', showOnHover);
                blokTitel.addEventListener("click", stuffShowen);
                sluitKnop.addEventListener("click", () => {
                    knopTimeout = true
                    stuffHiden()
                    setTimeout(() => {
                            knopTimeout = false
                        }, 400);
                });
            });
        });
    </script>

    <!-- Volgorde aanpassen -->
    <script>
        const containerBinnenkort = document.getElementById("containerBinnenkort");
        const containerLater = document.getElementById("containerLater");
        const containerEerder = document.getElementById("containerEerder");

        function updateVolgorde() {
            let orderItems = document.querySelectorAll("#orderSettings .orderitem");
            let indexEerder, indexBinnenkort, indexLater;

            orderItems.forEach((item, index) => {
                const inhoud = item.querySelector(".orderiteminhoud");
                if (inhoud.classList.contains("eerder")) {
                    indexEerder = index;
                } else if (inhoud.classList.contains("binnenkort")) {
                    indexBinnenkort = index;
                } else if (inhoud.classList.contains("later")) {
                    indexLater = index;
                }
            });

            containerBinnenkort.style.order = indexBinnenkort;
            containerLater.style.order = indexLater;
            containerEerder.style.order = indexEerder;
        }




        var dragSrcEl = null;

        function handleDragStart(e) {
            dragSrcEl = this;
            e.dataTransfer.effectAllowed = "move";
            e.dataTransfer.setData("text/html", this.outerHTML);
            this.classList.add("dragElem");
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }

            this.classList.add("over");
            e.dataTransfer.dropEffect = "move";

            return false;
        }

        function handleDragEnter(e) {}

        function handleDragLeave(e) {
            this.classList.remove("over");
        }

        function handleDrop(e) {
            if (e.stopPropagation) {
                e.stopPropagation();
            }

            if (dragSrcEl != this) {
                this.parentNode.removeChild(dragSrcEl);
                var dropHTML = e.dataTransfer.getData("text/html");
                this.insertAdjacentHTML("beforebegin", dropHTML);
                var dropElem = this.previousSibling;
                addDnDHandlers(dropElem);
                updateVolgorde();
            }

            this.classList.remove("over");
            return false;
        }

        function handleDragEnd(e) {
            this.classList.remove("over");
        }

        function addDnDHandlers(elem) {
            elem.addEventListener("dragstart", handleDragStart, false);
            elem.addEventListener("dragenter", handleDragEnter, false);
            elem.addEventListener("dragover", handleDragOver, false);
            elem.addEventListener("dragleave", handleDragLeave, false);
            elem.addEventListener("drop", handleDrop, false);
            elem.addEventListener("dragend", handleDragEnd, false);
        }

        var items = document.querySelectorAll("#orderSettings .orderitem");
        [].forEach.call(items, addDnDHandlers);

    </script>



</body>
</html>