<!DOCTYPE html>
<html lang=nl>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leermiddelenoverzicht - minimaal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='public/samva_min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favs/samvamin.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='afbs/samvamin.png') }}">
</head>
<body>
    <div id="container">


        <div id="header">
            <h1>Leermiddelenoverzicht (minimale versie)</h1>
            <a href="/school">Naar de reguliere versie</a>
        </div>


        {% macro maak_toets_rij(item) %}
            <div class="itemrij">
                <div class="links">
                    <h1>{{ item.Vak }}: {{ item.Leerstof }}</h1>
                    <h2>{{ item.Toetsvorm }} {{ "tijdens" if item.Afname_tekst_specificiteit == "TIJDVAK" else "op" }} <span style="font-weight: bold;">{{ item.Afname_tekst }}</span></h2>
                </div>
                <div class="rechts">
                    <span id="samva">
                        {% if not item.samenvattingtonen %}
                            {{ item.samenvattingstatustekst }}
                        {% else %}
                            <a href="{{ item.Link_samenvatting }}" target="_blank">Samenvatting</a>
                        {% endif %}
                    </span>
                    {% if item.linksbeschikbaar %}
                        {% for linkitem in item.links %}
                            <a href="{{ linkitem.link }}" target="_blank">{{ linkitem.title }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endmacro %}


        <div id="toetsencontainer">
            {% for item in data %}
                {% if item.Weergave == "JA" %}
                    {{ maak_toets_rij(item) }}
                {% endif %}
            {% endfor %}
            {% for item in data %}
                {% if item.Weergave == "NEE" %}
                    {{ maak_toets_rij(item) }}
                {% endif %}
            {% endfor %}
            {% for item in data %}
                {% if item.Weergave == "JA_DEELS" %}
                    {{ maak_toets_rij(item) }}
                {% endif %}
            {% endfor %}
        </div>


        <div id="footer">
            <a href="/school">Naar de reguliere versie</a>
            <p>Gemaakt door Gijs</p>
            <p>Alle <strong>originele website-inhoud</strong> en <strong>code</strong> en de <strong>originele inhoud</strong> van <strong>samenvattingen</strong>, <strong>woordenlijsten</strong> en <strong>overige leermiddelen</strong>, is <strong>volledig vrijgegeven in het publieke domein zonder enige vorm van auteursrecht</strong>, in overeenstemming met de <a href="https://unlicense.org/" target="_blank" class="link-in-tekst">Unlicense</a> en <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" class="link-in-tekst">CC0</a> (externe bronnen kunnen onder andere licentievoorwaarden  en auteursrechten vallen)</p>
            <p>Gemaakt met <a href="https://github.com/pallets/flask" target="_blank" class="link-in-tekst">Flask</a> en <a href="https://github.com/pallets/jinja" target="_blank" class="link-in-tekst">Jinja</a>, gehost door <a href="https://eu.pythonanywhere.com/" target="_blank" class="link-in-tekst">PythonAnwyhere</a></p>
            <p>Bekijk de <a href="https://github.com/Gijs6/site" target="_blank" class="link-in-tekst">broncode op GitHub</a></p>
            <p>Neem <a href="/contact?lang=nl" class="link-in-tekst">contact</a> op</p>
        </div>


    </div>
</body>
</html>