{% extends "base.html" %}

{% block title %}Archive{% endblock %}

{% block content %}
    <div id="pagetitle">
        <h1>Archive</h1>
        <h2>Older posts I no longer stand by or that don't fit the blog anymore.</h2> 
        <p><a href="{{ url_for('blog_bp.blog_index') }}"><i class="fa-solid fa-arrow-left"></i> Back to current posts</a></p>
    </div>

    {% if post_list %}
        <ul>
            {% for blogpost in post_list %}
                <li><time datetime="{{ blogpost.date_iso }}">{{ blogpost.date }}</time>: <a href="{{ blogpost.url }}">{{ blogpost.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No archived posts yet.</p>
    {% endif %}
{% endblock %}


{% block extra_footer %}
    <div id="extra-footer">
        <p>Reply by <a href="mailto:gijs6@dupunkto.org">email</a></p>
    </div>
{% endblock %}