{% extends "blogbase.html" %}

{% block pagetitle %}{{ title }}{% endblock %}

{% set type = "post" %}

{% block pagecontent %}
    <main id="post">
        <div id="post-info">
            <p>Made on <a href="https://github.com/Gijs6/gijs6.nl/commit/{{ first_commit.hash }}">{{ first_commit.datetime }}</a> (UTC)</p>
            {% if multiple_edit %}
                <p>Last edited on <a href="https://github.com/Gijs6/gijs6.nl/commit/{{ latest_commit.hash }}">{{ latest_commit.datetime }}</a> (UTC)</p>
            {% endif %}
        </div>
        
        {{ content | safe }}
    </main>
{% endblock %}
