<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{%- block title -%}{%- endblock title -%} - Gijs6</title>
        <meta name="description" content="a big mess of fun pages, interesting projects, my own thoughts, opinions, and more.">
        <meta name="author" content="Gijs6">

        <link rel="icon" href="/favicon.ico">

        <link rel="stylesheet" href="/assets/styles/skeleton.css">
        <link rel="stylesheet" href="/assets/styles/base.css">
        {% block additional_stylesheets %}
        {% endblock additional_stylesheets %}

        <link rel="canonical" href="https://gijs6.nl{% if canonical_path %}{{ canonical_path }}{% else %}/{% endif %}">

        <link rel="me" href="https://github.com/Gijs6">
        <link rel="me" href="/contact">

        <link rel="license" href="https://unlicense.org/">
        <link rel="robots" href="/robots.txt">
        <link rel="sitemap" type="application/xml" href="/sitemap.xml">
        <link rel="security" href="/.well-known/security.txt">

        <link rel="alternate" type="application/rss+xml" title="blog - RSS" href="/blog/rss.xml">
        <link rel="alternate" type="application/atom+xml" title="blog - Atom" href="/blog/atom.xml">
    </head>
    <body>
        <header>
            <span>
                Gijs<sup>6</sup>
            </span>
            <nav>
                <a href="/"{% if active_page == 'home' %} class="active"{% endif %}>/home</a>
                <a href="/blog/"{% if active_page == 'blog' %} class="active"{% endif %}>/blog</a>
                <a href="/projects"{% if active_page == 'projects' %} class="active"{% endif %}>/projects</a>
                <a href="/bookmarks"{% if active_page == 'bookmarks' %} class="active"{% endif %}>/bookmarks</a>
                <a href="/colophon"{% if active_page == 'colophon' %} class="active"{% endif %}>/colophon</a>
                <a href="/school">/school</a>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <footer>
            <p>~ Gijs ten Berg</p>
            <p>
                copying is an act of love. love is not subject to law. please copy. &lt;3 - <a href="https://unlicense.org/">unlicensed</a>
            </p>
            <p>
                <a href="https://github.com/Gijs6/gijs6.nl">source code</a>
            </p>
        </footer>
    </body>
</html>
