{% extends "base.html" %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="/assets/styles/blog_post.css">
{% endblock additional_stylesheets %}

{% block content %}
    <article>
        <hgroup>
            <h1>{{ post.title }}</h1>
            {% if post.date %}
                <p>
                    <time datetime="{{ post.date_iso }}">{{ post.date }}</time>
                </p>
            {% endif %}
        </hgroup>
        {{ post.content | safe }}
    </article>
{% endblock content %}
